<li class="row" data-context>
  <div class="columns small-1">
    <%= f.select_box :id, signup %>
    <%= signup.id %>
  </div>
  <div class="columns small-2">
    <%= signup.first_name%>
  </div>
  <div class="columns small-2">
    <%= signup.last_name %>
  </div>
  <div class="columns small-2">
    <%= signup.email %>
  </div>
  <div class="columns small-2">
    <%= signup.phone_number %>
  </div>
  <div class="columns small-3">
    <%= l signup.created_at, format: :long %>
    <a href="#" data-context-button><%= fa_icon('ellipsis-h') %></a>
  </div>
  <ul data-context-target>
    <li><%= link_to fa_icon('search fw', text: t('helpers.actions.show')), admin_signup_path(signup, format: :js), data: {remote: true} %></li>
    <li><%= link_to fa_icon('edit fw', text: t('helpers.actions.edit')), edit_admin_signup_path(signup, format: :js), data: {remote: true} %></li>
    <li><%= link_to fa_icon('trash-o fw', text: t('helpers.actions.delete')), admin_signup_path(signup), data: {confirm: t('helpers.actions.confirm'), method: :delete } %></li>
  </ul>
</li>
