<h2><%= t('.title') %></h2>

<dl>
<dt><%= Signup.human_attribute_name :first_name %>:</dt>
<dd><%= @signup.first_name %></dd>
<dt><%= Signup.human_attribute_name :last_name %>:</dt>
<dd><%= @signup.last_name %></dd>
<dt><%= Signup.human_attribute_name :phone_number %>:</dt>
<dd><%= @signup.phone_number %></dd>
<dt><%= Signup.human_attribute_name :email %>:</dt>
<dd><%= @signup.email %></dd>
<dt><%= Signup.human_attribute_name :job_title %>:</dt>
<dd><%= @signup.job_title %></dd>
<dt><%= Signup.human_attribute_name :fax_number %>:</dt>
<dd><%= @signup.fax_number %></dd>
<dt><%= Signup.human_attribute_name :referrer %>:</dt>
<dd><%= @signup.referrer %></dd>
<dt><%= Signup.human_attribute_name :agency_name %>:</dt>
<dd><%= @signup.agency_name %></dd>
<dt><%= Signup.human_attribute_name :agency_phone %>:</dt>
<dd><%= @signup.agency_phone %></dd>
<dt><%= Signup.human_attribute_name :president %>:</dt>
<dd><%= @signup.president %></dd>
<dt><%= Signup.human_attribute_name :adress %>:</dt>
<dd><%= @signup.adress %></dd>
<dt><%= Signup.human_attribute_name :city %>:</dt>
<dd><%= @signup.city %></dd>
<dt><%= Signup.human_attribute_name :country %>:</dt>
<dd><%= @signup.country %></dd>
<dt><%= Signup.human_attribute_name :state %>:</dt>
<dd><%= @signup.state %></dd>
<dt><%= Signup.human_attribute_name :zip %>:</dt>
<dd><%= @signup.zip %></dd>
<dt><%= Signup.human_attribute_name :diff_adress %>:</dt>
<dd><%= @signup.diff_adress %></dd>
<dt><%= Signup.human_attribute_name :diff_city %>:</dt>
<dd><%= @signup.diff_city %></dd>
<dt><%= Signup.human_attribute_name :diff_country %>:</dt>
<dd><%= @signup.diff_country %></dd>
<dt><%= Signup.human_attribute_name :diff_state %>:</dt>
<dd><%= @signup.diff_state %></dd>
<dt><%= Signup.human_attribute_name :diff_zip %>:</dt>
<dd><%= @signup.diff_zip %></dd>
<dt><%= Signup.human_attribute_name :arc %>:</dt>
<dd><%= @signup.arc %></dd>
<dt><%= Signup.human_attribute_name :iata %>:</dt>
<dd><%= @signup.iata %></dd>
<dt><%= Signup.human_attribute_name :ttt %>:</dt>
<dd><%= @signup.ttt %></dd>
<dt><%= Signup.human_attribute_name :clia %>:</dt>
<dd><%= @signup.clia %></dd>
<dt><%= Signup.human_attribute_name :webiste %>:</dt>
<dd><%= @signup.webiste %></dd>
<dt><%= Signup.human_attribute_name :business_type %>:</dt>
<dd><%= @signup.business_type %></dd>
<dt><%= Signup.human_attribute_name :hba %>:</dt>
<dd><%= @signup.hba %></dd>
<dt><%= Signup.human_attribute_name :host %>:</dt>
<dd><%= @signup.host %></dd>
<dt><%= Signup.human_attribute_name :affiliate %>:</dt>
<dd><%= @signup.affiliate %></dd>
<dt><%= Signup.human_attribute_name :asta %>:</dt>
<dd><%= @signup.asta %></dd>
<dt><%= Signup.human_attribute_name :sabre_pcc %>:</dt>
<dd><%= @signup.sabre_pcc %></dd>
<dt><%= Signup.human_attribute_name :galileo_pcc %>:</dt>
<dd><%= @signup.galileo_pcc %></dd>
<dt><%= Signup.human_attribute_name :worldspan_pcc %>:</dt>
<dd><%= @signup.worldspan_pcc %></dd>
<dt><%= Signup.human_attribute_name :amadeus_pcc %>:</dt>
<dd><%= @signup.amadeus_pcc %></dd>
<dt><%= Signup.human_attribute_name :apollo_pcc %>:</dt>
<dd><%= @signup.apollo_pcc %></dd>
</dl>

<%= link_to t('back', scope: [:helpers, :actions]), signups_path %>