<section class="webinars">
<div class="row">
	<h2 id="get_started-content-5" class="mercury-region" data-mercury="full"><%=content('get_started-content-5')%></h2>
	<h3 id="get_started-content-6" class="mercury-region" data-mercury="full"><%= content('get_started-content-6')%></h3>
	<div class="registerweb medium-8 medium-centered large-6 large-centered columns">
		<table class="maintable" cellspacing="0" style="background-color: #f2f2f2">
			<% @webinars.each do |webinar| %>
				<% if webinar.when.strftime("%B") == Date.today.strftime("%B")%>
					 <tr>
					 <td class="data"><h4><%= webinar.when.strftime("%d") %></h4><h5><%= webinar.when.strftime("%b") %></h5></td>
				     <td class="lang"><h6><%= webinar.language%></h6></td>
				     <td class="time"><p><%= webinar.when.strftime("%l %p %Z") %></p></td>
				     <td class="register"><%= link_to "Register", webinar_registration_path(webinar) %></td>
					 </tr>
				<%end%>	 					 
			<%end%>
		</table> 
		<div class="pag">
			<% @webinars_month.each do |month, webinars|%>
				<% if month != Date.today.month%> 
				<p class="monthname"><%= link_to "#_",  class: "more_webinar", data:{ "target" => "#{month}"} do %> <i class="custom-arrow gray-arrow"></i>  <%= month_name(month)%> (<%= webinars.count%>  webinars) </p>
				<%end%>
				<%end%>
					<div class="hide <%= month %>">
						<table cellspacing="0" style="background-color: #f2f2f2">
						<% webinars.each do |webinar| %>
							<% if webinar.when.month != Date.today.month%>
								<tr>
									 <td class="data"><h4><%= webinar.when.strftime("%d") %></h4><h5><%= webinar.when.strftime("%b") %></h5></td>
								     <td class="lang"><h6><%= webinar.language%></h6></td>
								     <td class="time"><p><%= webinar.when.strftime("%l %p %Z") %></p></td>
								     <td class="register"><%= link_to "Register", webinar_registration_path(webinar) %></td>
								</tr>
							<%end%>
						<%end%>
						</table>
					</div>
			<%end%>
		</div>		
	</div>
</div>
</section>
