<div class="notification hidden"></div>
<section class="container">
  <div class="demo_content medium-6 medium-centered large-6 large-centered columns">
    <h1 id="demo-content-1" class="mercury-region" data-mercury="full"><%= content('demo-content-1')%></h1>
    <p id="demo-content-2" class="mercury-region hide-for-small-only" data-mercury="full"><%= content('demo-content-2')%></p>
  </div>
<div class="small-12 medium-12 medium-centered large-12 columns demo">
      <div class ="small-12 medium-12 medium-centered large-8 large-centered columns">
  <div class="demo_form">
<%= form_tag(webinar_register_path, class: "small-12 large-12 large-centered columns registration", "data-abide" => '' , data: { remote: true }, id: "registration") do%>
      <div>
        <%= label :registration, :name %>
        <%= text_field :registration, :name, :required => true, 'aria-required' => 'true' %>
        <small class="error">Name is required</small>
      </div>
      <div>
        <%= label :registration, :phone %>
        <%= text_field :registration, :phone, :required => true, 'aria-required' => 'true', pattern: "number" %>
        <small class="error">Phone number is incorrect</small>
      </div>
      <div>
        <%= label :registration, :email %>
        <%= text_field :registration, :email, :required => true, 'aria-required' => 'true', pattern: "email" %>
        <small class="error">Email is incorrect</small>
      </div>
      <div>
        <%= label :registration, :company %>
        <%= text_field :registration, :company, :required => true, 'aria-required' => 'true' %>
         <small class="error">Company is required</small>
      </div>
      <%= submit_tag "Submit", :class => "button red-one grey radius"%>
        <small class="error after_commit" style="display:none;background-color:none;color:red;"> </small>
  <% end %>
  </div>
    </div>
</div>
</div>
</section>
