<section class="top_img">
  <!-- <div class="row"> -->
  <div class="small-12 poster">
    <%= image_tag('news/header.jpg') %>
  </div>
  <h1>NEWS</h1>
  <h2>TripPro® is a revolutionary next generation search, book<br> 
and ticketing technology providing the best international fares.</h2>
<!-- </div> -->
</section>

<% breadcrumbs t('.title') %>
<% title t('.title') %>
<section class="news_content">
<div class="row">
  <div class="small-8 columns">
  <!-- <h2><%= t('.title') %></h2> -->
  <% unless @news.blank? %>
  <ul id="news_list">
    <% @news.each do |news| %>
      <li>
        <div class="date"><%= l news.created_at, format: '%d-%m-%Y %H:%M' %></div>
        <h3>
          <%= news.title %>
        </h3>
        <%= content_tag :div, class: 'image' do %>
          <%= image_tag news.photo.url(:medium) %>
        <% end if news.photo? %>
        <div class="content"><%=short news.content, 160 %></div>
        <div class="more"><%= link_to t('helpers.actions.more'), news_path(news) %></div>
      </li>
      <hr>
    <% end %>
  </ul>
  <% end %>
  <%= will_paginate @news %>
</div>
  <div class="small-4 columns">
    <div class="categories">
      <p>News Category</p>
      <ul>
        <li>News</li>
        <li>Reports</li>
        <li>Multimedia</li>
      </ul>
    </div>
    <div class="twitter">
    <a class="twitter-timeline"  href="https://twitter.com/AnterKamil" data-widget-id="509629523462070272">Tweets by @AnterKamil</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
  </div>
</div>
</section>