<section class="news_post">
  <div class="row">
	<div class="small-12 large-12 small-centered large-centered">
	<% title @news.title  %>
	<% breadcrumbs link_to( t('l.news.index.title'), news_index_path), @news.title  %>
		<section="post_image">
		<div class="row">
			<div class="small-12 poster">
			<%= image_tag @news.photo.url(:large) if @news.photo? %>
				<h2><%= link_to "News", news_index_path%> > <%= l @news.created_at, format: '%d-%m-%Y' %></h2>
				<h1><%= @news.title %></h1>
			</div>
		<!-- 	<h4>News (link)</h4> -->
		</div>
		</section>
	<!-- <div class="small-12 content"><p><%= raw @news.content %></p></div> -->
  </div>
</section>
<section class="post_content">
  <div class="row">
	<div class="small-12 content"><%= raw @news.content %></div>
  </div> <!-- row -->
</section>

<section class="get_started">
<div class="row">
  <h3>Start using TripPro today, boost sales within weeks</h3>

  <p class='get-started'><%= link_to 'Get Started', get_started_path, class: 'button red-one radius' %></p>
</div>
</section>