<section class="news_post">
	<div class="head small-12 show-for-small-only">
		<div class="news">
		<%= link_to "News", news_index_path%>
		</div>
		<div class="date">
		<%= l @news.created_at, format: '%d-%m-%Y' %>
		</div>
		<div class="title">
		<%= @news.title %>
		</div>
	</div>
	<%= image_tag @news.photo.url(:small), class:"show-for-small-only" if @news.photo? %>
	<%= image_tag @news.photo.url(:large_cropped), class:"hide-for-small-only" if @news.photo? %>
		<% title @news.title  %>
		<% breadcrumbs link_to( t('l.news.index.title'), news_index_path), @news.title  %>
			<div class="medium-11 large-7 large-centered medium-centered columns poster hide-for-small-only "id="radial-gradient">
				<h2 ><%= link_to "News", news_index_path%> > <%= l @news.created_at, format: '%d-%m-%Y' %></h2>
				<h1><%= @news.title %></h1>
			</div>
</section>
<section class="post_content">
	<div class="small-12 medium-11 large-7 small-centered large-centered columns content"><%= raw @news.content %>
	</div>
</section>

<section class="get_started">
	<div class="row">
	  <h3>Start using TripPro today, boost sales within weeks</h3>
	  <p class='get-started'><%= link_to 'Get Started', webinars_path, class: 'button red-one grey radius' %></p>
	</div>
</section>