
<section class="container small-12 medium-12 small-centered medium-centered">
<div class="small-12 medium-12 large-12 small-centered medium-centered large-centered">
<h1 id="contact-content-1" class="mercury-region" data-mercury="full"><%= content('contact-content-1')%></h1>

<p id="contact-content-2" class="mercury-region" data-mercury="full"><%=content('contact-content-2')%><br> <p><strong>
	<a id="contact-mail-1" class="mercury-region" data-mercury='full' href="mailto:<%=content('contact-mail-1')%>"><%=content('contact-mail-1')%></a>
</strong> or <strong>
<a id="contact-phone-1" class="mercury-region" href="skype://<%=content('contact-phone-1')%>" data-mercury="full"><%=content('contact-phone-1')%></a></strong>.</p></p>
</div>
	<div class="contact_form small-12 small-centered medium-12 medium-centered">
	<%= form_for( @contact, html: {class: "row small-11 medium-12 small-centered medium-centered" , data: {remote: true}}) do |f| %>
	<% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>
		<div class="row">
		<div class ="small-12 small-centered">
		  <div>
		      <%= f.label :name %>

		      <%= f.text_field :name  %>
		  </div>
		  <div>
		      <%= f.label :email %>

		      <%= f.text_field :email  %>
		  </div>
		  <div>
		      <%= f.label :phone %>

		      <%= f.text_field :phone  %>
		  </div>
		  <div>
		      <%= f.label :message, class: 'text' %>

		      <%= f.text_area :message , :cols=>70, :rows=>5 %>
			</textarea> 
		  </div>
		  <%= f.submit "Send Message", :class => 'button red-one grey radius' %>
	</div>
	</div>
	<%end%>

</div>
</section>