<section class="container">
	<div class="small-12 small-centered ">
		<h1 id="contact-content-1" class="mercury-region" data-mercury="full"><%= content('contact-content-1')%></h1>

		<p id="contact-content-2" class="mercury-region" data-mercury="full"><%=content('contact-content-2')%><br> <p><strong>
			<a id="contact-mail-1" class="mercury-region" data-mercury='full' href="mailto:<%=content('contact-mail-1')%>"><%=content('contact-mail-1')%></a>
		</strong> or <strong>
		<a id="contact-phone-1" class="mercury-region" href="skype://<%=content('contact-phone-1')%>" data-mercury="full"><%=content('contact-phone-1')%></a></strong>.</p></p>
	</div>
	<div class="small-12 large-8 large-centered columns">
		<div class="contact_form">
			<%= form_for( @contact, html: {class: "row", "data-abide" => '' , data: {remote: true}}) do |f| %>
				<% flash.each do |name, msg| -%>
			      <%= content_tag :div, msg, class: name %>
			    <% end -%>
			  <div class="field"> 
			  		      <%= f.label :name %><!--
			  		   --><%= f.text_field :name, :required => true  %>
			  		      <small class="error">Name is required</small>
			  </div>
		      <div class="field"><%= f.label :email %><!--
		      		   --><%= f.text_field :email, :required => true, pattern: "email" %>
		      		      <small class="error">Email is not valid</small>
		      </div>
		      <div class="field"> <%= f.label :phone %><!--
		     		   --><%= f.text_field :phone, :required => true, pattern: "number"  %>
		     		      <small class="error">Phone number is not valid</small>
		      </div>

		   <div class="field">
		   <%= f.label :message, class: 'text' %><!--
		   		   --><%= f.text_area :message , :cols=>70, :rows=>5, :required => true %>
		   			  <small class="error">Message is required</small></div>
		  
			  <%= f.submit "Send Message", :class => 'button red-one grey radius' %>
			</div>
			<%end%>
	</div>
</section>