<section class="benefits-at-your-service tour columns">
  <h2 id="benefits-content-1"class= "hide-for-small-only mercury-region" data-mercury="full">Our product, your benefits</h2>
  <ul>
     <li>
      <%= image_tag 'benefits/profits.png', :class => "hide-for-small-only"%>
      <h3 id="benefits-content-2" class="mercury-region" data-mercury="full"><%= content('benefits-content-2')%></h3>
      <p id="benefits-content-3" class="mercury-region" data-mercury="full"><%= content('benefits-content-3')%></p>
    </li>
    <li>
      <%= image_tag 'benefits/use.png' , :class => "hide-for-small-only"%>
      <h3 id="benefits-content-4" class="mercury-region" data-mercury="full"><%= content('benefits-content-4')%></h3>
      <p id="benefits-content-5" class="mercury-region" data-mercury="full"><%= content('benefits-content-5')%></p>
    </li>
    <li>
      <%= image_tag 'benefits/time.png' , :class => "hide-for-small-only"%>
      <h3 id="benefits-content-6" class="mercury-region" data-mercury="full"><%= content('benefits-content-6')%></h3>
      <p id="benefits-content-7" class="mercury-region" data-mercury="full"><%= content('benefits-content-7')%></p>
    </li>
   <li>
      <%= image_tag 'benefits/price.png', :class => "hide-for-small-only" %>
      <h3 id="benefits-content-8" class="mercury-region" data-mercury="full"><%= content('benefits-content-8')%></h3>
      <p id="benefits-content-9" class="mercury-region" data-mercury="full"><%= content('benefits-content-9')%></p>
    </li>
    <li>
      <%= image_tag 'benefits/experience.png', :class => "hide-for-small-only" %>
      <h3 id="benefits-content-10" class="mercury-region" data-mercury="full"><%= content('benefits-content-10')%></h3>
      <p id="benefits-content-11" class="mercury-region" data-mercury="full"><%= content('benefits-content-11')%></p>
    </li>
  </ul>
</section>
      
<section class="benefits-at-your-service benefits-tour">
  <div class="small-5  large-12 large-centered columns">
  <ul>
    <li><p><%= link_to demo_path do%><i class="custom-icon webinar"></i>Request a Free Demo<%end%></p></li>
    <li><p><%= link_to "#_" do%><i class="custom-icon down-side red-arrow"></i>Download Brochure (PDF)<%end%></p></li>
  </ul>
  </div>
</section>