<div class="learn_reporting expandable">
    <div class="row">
      <div class="small-12 medium-12 ability">
        <span id="tour-content-video-19"><%#=link_to "Move to home page", root_url%></span>
        <span class="red-icon">
          <%= image_tag('icons/platform.png') %>
        </span>
          <h2 id="report-content-1" class="mercury-region" data-mercury="full"><%=content('report-content-1')%></h2>
          <h4 id="report-content-2" class="mercury-region" data-mercury="full"><%=content('report-content-2')%></h4> 
          <!-- gora sekcji reporting -->
       </div>
          <div class="small-12 columns">
            <div class="row"></div>
              <ul class="platforms">
              <div class="medium-3 columns trip">
                <li class="tit" data-equalizer-watch>
                  <%= image_tag 'tour/desktop.png' %>
                  <h4 id="report-content-5" class="mercury-region" data-mercury="full"><%= content('report-content-5')%></h4>
                  <p id="report-content-6" class="mercury-region" data-mercury="full">
                    <%=content('report-content-6')%></p>
                    <ul class="nested" id="report-content-15" class="mercury-region" data-mercury="full" style="display:none">
                      <%=content('report-content-15')%>
                    </ul>
                    <!-- druga kolumna -->
                </li>
              </div>
                <div class="medium-3 columns trip">
                  <li class="tit">
                    <%= image_tag 'tour/SabreRed.png'%>
                    <h4 id="report-content-21" class="mercury-region" data-mercury="full"><%=content('report-content-21')%></h4><p id="report-content-19" class="mercury-region" data-mercury="full"> <%=content('report-content-19')%></p>
                    <ul class="nested" id="report-content-20" class="mercury-region" data-mercury="full" style="display:none">
                      <%=content('report-content-20')%>
                    </ul>
                    <!-- pierwsza kolumna -->
                  </li>
                </div>
              <div class="medium-3 columns trip">
                <li class="tit">
                  <%= image_tag 'tour/cloud.png'%>
                  <h4 id="report-content-7" class="mercury-region" data-mercury="full"><%=content('report-content-7')%></h4>
                  <p id="report-content-9" class="mercury-region" data-mercury="full"><%=content('report-content-9')%></p>
                    <ul class="nested" id="report-content-16" class="mercury-region" data-mercury="full" style="display:none">
                      <%=content('report-content-16')%>
                    </ul>
                    <!-- trzecia kolumna -->
                </li>
              </div>
                <div class="medium-3 columns trip">
                  <li class="tit">
                    <%= image_tag 'tour/api.png' %>
                    <h4 id="report-content-18" class="mercury-region" data-mercury="full"><%=content('report-content-3')%></h4><p id="report-content-4" class="mercury-region" data-mercury="full"> <%=content('report-content-4')%></p>
                    <ul class="nested" id="report-content-17" class="mercury-region" data-mercury="full" style="display:none">
                      <%=content('report-content-17')%>
                    </ul>
                    <!-- pierwsza kolumna -->
                  </li>
                </div>
            </ul>
        </div>
    </div>
  </div>