<section class="feature switch-order">
  <div class="row">
    <div class="hide-for-small-only image"></div>

    <div class="small-12 columns text">
      <span class="red-icon"><%= image_tag('icons/ticketing_ico.png') %></span>
      <h3 id="tour-content-video-5" class="mercury-region" data-mercury="full"><%= content('tour-content-video-5')%></h3>
      <p id="tour-content-video-6" class="mercury-region" data-mercury="full"><%= content('tour-content-video-6')%></p>
      <ul class="section_list">
        <li>Instant ticketing</li>
        <li>Seamless reissue/refund/voids</li>
        <li>Agent settlement</li>
        <li>Automated settlement</li>
        <li>24/7 ticketing live chat support</li>
        <li>No waiting</li>
        <li>Increased productivity</li>
      </ul>
      <p class="expander"><%= link_to '#_', class: "more_info_expander", data: { "target" => "learn_qc" } do %>
        <i class="custom-icon red-arrow"></i> Learn more about Ticketing and QC
        <% end %></p>
    </div>
  </div>

  <div class="learn_qc expandable">
    <div class="row">

      <a href="#_" class="close" data-target="learn_qc"></a>
        <ul class="round-items">
            <li><p><strong id="qc-content-1" class="mercury-region" data-mercury="full"><%=content('qc-content-1')%></strong><span id="qc-content-2" class="mercury-region" data-mercury="full"></span><%=content('qc-content-2')%></p></li>
            <li><p><strong id="qc-content-3" class="mercury-region" data-mercury="full"><%= content('qc-content-3')%></strong><span id="qc-content-4" class="mercury-region" data-mercury="full"><%=content('qc-content-4')%></span></p></li>
            <li><p><strong id="qc-content-5" class="mercury-region" data-mercury="full"><%= content('qc-content-5')%></strong><span id="qc-content-6" class="mercury-region" data-mercury="full"><%=content('qc-content-6')%></span></p></li>
            <li><p><strong id="qc-content-7" class="mercury-region" data-mercury="full"><%=content('qc-content-7')%></strong><span id="qc-content-8" class="mercury-region" data-mercury="full"><%=content('qc-content-8')%></span></p></li>
        </ul>
      <div class="embedded_video small-12 hide-for-small columns">
        <%= image_tag('tour/emb_video3.png', class: "emb_vid") %>
<!--         <div id="play">
          <i class="custom-icon play-gray"></i>
        </div> -->
      </div>
      <div class="clearer"></div>
      <div class="liimg small-12 small-centered large-8 large-centered columns">
        <ul>
          <li>
            <div class="numbers_sec">
              <p class="numbers hide-for-small">1</p>
            </div>
            <div class="liimg-text">
              <h2 id="qc-content-9" class="mercury-region" data-mercury="full"><%=content('qc-content-9')%></h2> <br>
              <p id="qc-content-10" class="mercury-region" data-mercury="full" ><%=content('qc-content-10')%></p>
            </div>
            <div class="liimg-img ticket"><%= image_tag('tour/a.png', class: "hide-for-small-only") %></div>
          </li>
          <li>
            <div class="numbers_sec">
              <p class="numbers hide-for-small">2</p>
            </div>
            <div class="liimg-text">
              <h2 id="qc-content-11" class="mercury-region" data-mercury="full"><%=content('qc-content-11')%></h2>
              <p id="qc-content-12" class="mercury-region" data-mercury="full"><%= content('qc-content-12')%></p>
            </div>
            <div class="liimg-img"><%= image_tag('tour/b.png', class: "hide-for-small-only") %></div>
          </li>

          <li>
            <div class="numbers_sec">
              <p class="numbers hide-for-small">3</p>
            </div>
            <div class="liimg-text">
              <h2 id="qc-content-13" class="mercury-region" data-mercury="full"><%=content('qc-content-13')%></h2>
              <p id="qc-content-14" class="mercury-region" data-mercury="full"><%=content('qc-content-14')%></p></div>
              <div class="liimg-img"><%= image_tag('tour/c.png', class: "hide-for-small-only") %>
            </div></li>

          <li>
            <div class="numbers_sec">
              <p class="numbers hide-for-small">4</p>
            </div>
            <div class="liimg-text">
            <h2 id="qc-content-15" class="mercury-region" data-mercury="full"><%=content('qc-content-15')%></h2>
            <p id="qc-content-16" class="mercury-region" data-mercury="full"><%=content('qc-content-16')%></p></div>
            <div class="liimg-img"><%= image_tag('tour/d.png', class: "hide-for-small-only") %>
          </div></li>
        </ul>
      </div>

      <div class="profits columns">
        <div class="row">
          <div class="small-10 large-8 large-centered small-centered columns">
          <ul>
            <li><h2 id="qc-content-17" class="mercury-region" data-mercury="full"><%=content('qc-content-17')%></h2>
              <p id="qc-content-18" class="mercury-region" data-mercury="full"><%=content('qc-content-18')%></p></li>
            <li><h2 id="qc-content-19" class="mercury-region" data-mercury="full"><%=content('qc-content-19')%></h2>
              <p id="qc-content-20" class="mercury-region" data-mercury="full"><%=content('qc-content-20')%></p></li>
            <li><h2 id="qc-content-21" class="mercury-region" data-mercury="full"><%=content('qc-content-21')%></h2>
              <p id="qc-content-22" class="mercury-region" data-mercury="full"><%=content('qc-content-22')%></p></li>
            <li><h2 id="qc-content-23" class="mercury-region" data-mercury="full"><%=content('qc-content-23')%></h2><p id="qc-content-24" class="mercury-region" data-mercury="full"><%=content('qc-content-24')%></p></li>
          </ul>
          </div>
        </div>
      </div>
      <div class="clearer"></div>
      <section class="benefits-at-your-service benefits-tour">
        <div class="small-12 small-centered  large-12 large-centered columns">
          <ul>
           <li><p><%= link_to demo_path do%><i class="custom-icon webinar"></i>Request a Free Demo<%end%></p></li>
            <li><p><%= link_to "#_" do%><i class="custom-icon down-side red-arrow"></i>Download Brochure (PDF)<%end%></p></li>
          </ul>
        </div>
      </section>
    </div>
  </div>

</section>