<section class="testimonials rwd  show-for-small-only ">
  <h2>Testimonials</h2>
<ul>
    <% @testimonials.each do |testimonial| %>
    <li class="row collapse" data-equalizer>
      <!-- <div class="image columns"  data-equalizer-watch> -->
        <%= image_tag(testimonial.photo.url) %>
      <!-- </div> -->
        <p><strong><%=testimonial.name%>,</strong><%=testimonial.position%></p>
      <div class="text columns"  data-equalizer-watch>
        <p><%=testimonial.content%></p>
      </div>
    </li>
    <% end %>
  </ul>
  <p class='get-started'><%= link_to 'Get Started', webinars_path, class: 'button red-one grey radius' %></p>
</section>