<section class="videos columns">
        <ul>
          <li>
            <p class="numbers show-for-small-only">1</p>
            <%= image_tag ('tour/emb_video1.jpg'), class: "hide-for-small-only" %>
            <h3 id="learn_book-content-1" class="mercury-region" data-mercury="full"><%=content('learn_book-content-1')%></h3>
            <p id="learn_book-content-2" class="mercury-region" data-mercury="full" ><%= content('learn_book-content-2')%></p>
          </li>
           <li>
            <p class="numbers show-for-small-only">2</p>
              <%= image_tag ('tour/emb_video1.jpg'), class: "hide-for-small-only" %>
            <h3 id="learn_book-content-3" class="mercury-region" data-mercury="full"><%= content('learn_book-content-3')%></h3>
            <p id="learn_book-content-4" class="mercury-region" data-mercury="full"><%= content('learn_book-content-4')%></p>
          </li>
          <li>
            <p class="numbers show-for-small-only">3</p>
              <%= image_tag ('tour/emb_video1.jpg'), class: "hide-for-small-only" %>
            <h3 id="learn_book-content-5" class="mercury-region" data-mercury="full"><%= content('learn_book-content-5')%></h3>
            <p id="learn_book-content-6" class="mercury-region" data-mercury="full"><%= content('learn_book-content-6')%></p>
          </li>
         <li>
          <p class="numbers show-for-small-only">4</p>
              <%= image_tag ('tour/emb_video1.jpg'), class: "hide-for-small-only" %>
            <h3 id="learn_book-content-7" class="mercury-region" data-mercury="full"><%=content('learn_book-content-7')%></h3>
            <p id="learn_book-content-8" class="mercury-region" data-mercury="full"><%= content('learn_book-content-8')%></p>
          </li>
         <li>
          <p class="numbers show-for-small-only">5</p>
              <%= image_tag ('tour/emb_video1.jpg'), class: "hide-for-small-only" %>
            <h3 id="learn_book-content-9" class="mercury-region" data-mercury="full"><%= content('learn_book-content-9')%></h3>
            <p id="learn_book-content-10" class="mercury-region" data-mercury="full"><%= content('learn_book-content-10')%></p>
          </li>
        </ul>
      </section> <!-- videos -->