<%= form_for([:admin, @request], html: {class: :row, data: {remote: true}}) do |f| %>
  <fieldset class="columns small-9 scroll-panel">
    <h2><%= t(".title.#{f.object.persisted? ? 'update' : 'create'}") %></h2>
      <div class="field">
      <%= f.label :first %>

      <%= f.text_field :first  %>

    </div>
      <div class="field">
      <%= f.label :phone_number %>

      <%= f.number_field :phone_number  %>

    </div>
      <div class="field">
      <%= f.label :email %>

      <%= f.text_field :email  %>

    </div>
      <div class="field">
      <%= f.label :company %>

      <%= f.text_field :company  %>

    </div>
    </fieldset>
  <fieldset class="columns small-3 panel">
    <div class="notification hidden"></div>
    <%= f.button nil, class: [:button, :secondary, :round, :expand], name: :commit %>
  </fieldset>
<% end %>
