<% title t('.title') %>

<%= content_tag(:p, flash[:alert], class: :alert) if flash.key? :alert %>
<%= content_tag(:p, flash[:notice], class: :notice) if flash.key? :notice %>

<%= render('filter')  %>

<ul class="row items-list-header">
  <li class="columns small-1">
    <%= custom_check_box(:selection, :all_ids, {}, 1, nil) if @requests.any? %>
    <%= sort_column :id, Request.human_attribute_name(:id) %>
  </li>
  <li class="columns small-2"><%= sort_column :first_name, Request.human_attribute_name(:name) %></li>
  <li class="columns small-2"><%= sort_column :phone_number, Request.human_attribute_name(:phone_number) %></li>
  <li class="columns small-2"><%= sort_column :email, Request.human_attribute_name(:email) %></li>
  <li class="columns small-2"><%= sort_column :company, Request.human_attribute_name(:company) %></li>
  <li class="columns small-3"><%= sort_column :created_at, Request.human_attribute_name(:created_at) %></li>
</ul>

<% if @requests.any? %>
  <%=  render 'list' %>
<% elsif filtering? %>
  <div class="no-items">
    <%= t('defaults.index.no_filtered_items_html') %>
  </div>
<% else %>
  <div class="no-items">
    <%= t('defaults.index.no_items_html', link: new_admin_request_path(format: :js)) %>
  </div>
<% end %>
