<nav class="left-menu">
  <ul class="root">
    <li><%= link_to fa_icon('home fw',text: t('.dashboard') ), admin_path %></li>
    <li class="spacer"></li>

    <li><%= link_to( fa_icon('file-text-o fw',text: t('.signups') ), admin_signups_path) %></li>
    <li class="spacer"></li>

    <li><%= link_to( fa_icon('list fw',text: t('.categories') ), admin_categories_path) %></li>
    <li class="spacer"></li>

    <li><%= link_to fa_icon('comments-o fw',text: t('.news') ), admin_news_index_path %></li>
    <li class="spacer"></li>

    <li><%= link_to fa_icon('calendar', text: t('.webinars')), admin_webinars_path %></li>
    <li class="spacer"></li>

    <li><%= link_to( fa_icon('comment-o', text: t('.testimonials')), admin_testimonials_path) %></li>
    <li class="spacer"></li>
    
    <li><%= link_to( fa_icon('fax', text: t('.contacts')), admin_contacts_path) %></li>
    <li class="spacer"></li>

    <li><%= link_to fa_icon('users fw',text: t('.users') ), admin_users_path %></li>
    <li class="spacer"></li>

    <li><%= link_to( fa_icon('video-camera fw',text: t('.videos') ), admin_videos_path) %></li>
    <li class="spacer"></li>

    <li><%= link_to( fa_icon('camera fw',text: t('.screenshots') ), admin_screenshots_path) %></li>
    <li class="spacer"></li>

    <li><%= link_to fa_icon('wrench fw',text: t('.settings') ), admin_settings_path %></li>
    <li class="spacer"></li>
  </ul>
  <p class="copyright">created by <%= link_to "1000ideas", 'http://1000i.pl', target: '_blank' %></p>
</nav>
