
<section class="container">
<h1 id="contact-content-1" class="mercury-region" data-mercury="full"><%= content('contact-content-1')%></h1>

<p id="contact-content-2" class="mercury-region" data-mercury="full"><%=content('contact-content-2')%><br> <p><strong>
	<a id="contact-mail-1" class="mercury-region" data-mercury='full' href="mailto:<%=content('contact-mail-1')%>"><%=content('contact-mail-1')%></a>
</strong> or <strong>
<a id="contact-phone-1" class="mercury-region" href="skype://<%=content('layout-content-phone')%>" data-mercury="full"><%=content('layout-content-phone')%></a></strong>.</p></p>

<div class="contact_form">
	<div class="row">
	<div class ="small-12">
	  <div>
		<label for="Name">Name</label>
		<input name="Name" type="text"></input>
	  </div>
	  <div>
		<label for="Name">Email</label>
		<input name="Name" type="text"></input>
	  </div>
	  <div>
		<label for="Name">Phone</label>
		<input name="Name" type="text"></input>
	  </div>
	  <div>
		<label class="text" for="Name">Message</label>
		 <textarea rows="4" cols="30">
		</textarea> 
	  </div>
	  <%= link_to "Send Message", '#', class: 'button red-one radius' %>
	</div>
</div>
<!--<%= link_to "Send Message", '#', class: 'button red-one radius' %>-->

</div>
</section>
<!-- <div id="contact_form">
	 <p>Name:</p><input type="text" name="fname"><br>
	  <p>Email:</p><input type="text" name="fname"><br>
	  <p>Phone number:</p><input type="text" name="fname"><br>
	  <p>Company (optional): </p><input type="text" name="fname"><br>
	  <p>Message</p> <textarea cols="10" rows="10" style="height:200px; width:466px";  name="message">
</textarea>
</div>
 -->