<section class="faq-logo">
<div class="poster">
	<%= image_tag('faq/header_people.jpg')%>
</div>
<h1 id="faq-content-1" class="mercury-region" data-mercury="full"><%=content('faq-content-1')%></h1>
<h2 id="faq-content-2" class="mercury-region" data-mercury="full"><%=content('faq-content-2')%></h2>
</section>

<section class="faq_content">
<!-- <div class="test">
 -->	<ul class="row">
<li class="small-12 medium-6 medium-centered columns"><h4 id="faq-question-1" class="mercury-region" data-mercury="full"><%= content('faq-question-1')%></h4>
<p id="faq-content-4" class="mercury-region" data-mercury="full"><%= content('faq-content-4')%></p></li>

<li class="small-12 medium-6 medium-centered columns"><h4 id="faq-question-2"  class="mercury-region" data-mercury="full"><%= content('faq-question-2')%></h4>
<p id="faq-content-5" class="mercury-region" data-mercury="full"><%= content('faq-content-5')%></p><li>

<li class="small-12 medium-6 medium-centered columns"><h4 id="faq-question-3" class="mercury-region" data-mercury="full"><%= content('faq-question-3')%></h4>
<p id="faq-content-6" class="mercury-region" data-mercury="full"><%= content('faq-content-6')%></p><li>

<li class="small-12 medium-6 medium-centered  columns"><h4 id="faq-question-4"  class="mercury-region" data-mercury="full"><%= content('faq-question-4')%></h4>
<p id="faq-content-7" class="mercury-region" data-mercury="full"><%= content('faq-content-7')%></p>
</li>

<li class="small-12 medium-6 medium-centered  columns"><h4 id="faq-question-5"  class="mercury-region" data-mercury="full"><%= content('faq-question-5')%></h4>
<p id="faq-content-8" class="mercury-region" data-mercury="full"><%= content('faq-content-8')%></p>
</li>

<li class="small-12 medium-6 medium-centered  columns"><h4 id="faq-question-6"  class="mercury-region" data-mercury="full"><%= content('faq-question-6')%></h4>
<p id="faq-content-9" class="mercury-region" data-mercury="full"><%= content('faq-content-9')%></p>
</li>
<!-- </div>
 -->
</section>

<section class="get_started">


<h3 id="faq-content-10" class="mercury-region" data-mercury="full"><%=content('faq-content-10')%></h3>

<p class='get-started'>   <%= link_to content('faq-button-1'), webinars_path, class: 'button red-one white radius mercury-region', id: "faq-button-1", data: {"mercury" => "full"} %></p>
</section>