<section class = "sign_demo">

<div class="row buttons" data-equalizer>
	<div class="small-12 medium-4 medium-offset-1 columns" data-equalizer-watch>
		<h3 id="get_started-content-1" class="mercury-region" data-mercury="full"><%=content('get_started-content-1')%></h3>
		<h5 id="get_started-content-2" class="hide-for-small-only mercury-region" data-mercury="full">Please fill out the application form. You will be given a unique name, password, and link to our member site, and you can start using TripPro right away.</h5>
		<%= link_to "Sign up", sign_up_path, class: 'button red-one radius' %>
	</div>
	<div class="small-12 medium-2 columns or">or</div>
	<div class="small-12 medium-4 end columns" data-equalizer-watch>
		<h3 id="get_started-content-3" class="mercury-region" data-mercury="full"><%= content('get_started-content-3')%></h3>
		<h5 id="get_started-content-4" class="hide-for-small-only mercury-region" data-mercury="full"><%= content('get_started-content-4')%></h5>
		<%= link_to "Request a Demo", demo_path, class: 'button red-one radius'%>
	</div>
</div>
</section>

<!-- <div id="myModal" class="reveal-modal" data-reveal>
	<div class="row">
	  <h2>Sign up for a demo</h2>
	  <div id="get_form">
		  Name:<input type="text" name="fname"><br>
		  Phone number:<input type="text" name="fname"><br>
		  Email:<input type="text" name="fname"><br>
		  Company (optional):<input type="text" name="fname"><br>
	  </div>
	  <a class="close-reveal-modal">&#215;</a>

	  <%= link_to "Request a demo", '#', class: 'button red-one radius' %>
	</div>
</div> -->

<section class="webinars">
<div class="row">
<h2 id="get_started-content-5" class="mercury-region" data-mercury="full"><%=content('get_started-content-5')%></h2>
<h3 id="get_started-content-6" class="mercury-region" data-mercury="full"><%= content('get_started-content-6')%></h3>
	<div class="registerweb">
	<table cellspacing="0" style="background-color: #f2f2f2">
		  <tr>
		    <td class="data"><h4>17</h4><h5>Jun</h5></td>
		  	<td class="lang"><h6>In English</h6></td>
		    <td class="time"><p>2:00 PM EST</p></td>
		    <td class="register"><%= link_to "Register",'#', class: 'button red-one radius' %></td>
		  </tr>
		  <tr>
		    <td class="data"><h4>17</h4><h5>Jun</h5></td>
		  	<td class="lang"><h6>In Spanish</h6></td>
		    <td class="time"><p>2:00 PM EST</p></td>
		    <td class="register"><%= link_to "Register",'#', class: 'button red-one radius' %></td>
		  </tr>
		    <tr>
		    <td class="data"><h4>17</h4><h5>Jun</h5></td>
		  	<td class="lang"><h6>In Italian</h6></td>
		    <td class="time"><p>2:00 PM EST</p></td>
		    <td class="register"><%= link_to "Register",'#', class: 'button red-one radius' %></td>
		  </tr>
		  <tr>
		    <td class="data"><h4>17</h4><h5>Jun</h5></td>
		  	<td class="lang"><h6>In English</h6></td>
		    <td class="time"><p>2:00 PM EST</p></td>
		    <td class="register"><%= link_to "Register",'#', class: 'button red-one radius' %></td>
		  </tr>
		    <tr>
		    <td class="data"><h4>17</h4><h5>Jun</h5></td>
		  	<td class="lang"><h6>In Spanish</h6></td>
			<td class="time"><p>2:00 PM EST</p></td>
		    <td class="register"><%= link_to "Register",'#', class: 'button red-one radius' %></td>
		  </tr>
		  <tr>
		    <td class="data"><h4>17</h4><h5>Jun</h5></td>
		  	<td class="lang"><h6>In English</h6></td>
			<td class="time"><p>2:00 PM EST</p></td>
		    <td class="register"><%= link_to "Register",'#', class: 'button red-one radius' %></td>
		  </tr>
	</table> 
	</div>
</div>

</section> 
