<section class="video">
  <div class="video-wrapper">
    <video id="video-1" autoplay="autoplay" muted="muted" loop="loop" poster="img/0.png">
      <source src="https://www.paypalobjects.com/webstatic/mktg/wright/videos/home-signup.mp4" type="video/mp4" />
      <source src="https://www.paypalobjects.com/webstatic/mktg/wright/videos/home-signup.webm" type="video/webm" />
    </video>
  </div>
  <h2>Empower your agency with power of TripPro<sup>&reg;</sup></h2>
  <h3>Discover revolutionary next generation search, book<br>and ticketing technology providing the best international fares.</h3>
  <div class="buttons">
    <%= link_to 'Get Started', '#', class: 'button red-one radius' %>
    <%= link_to 'Take the Tour', '#', class: 'button white-one radius' %>
  </div>
  <div class="infobar">
    <a href="" class="with-arrow arrow-right">
      <%= image_tag('infobar-icon.png')  %>
      Download TripPro From Sabre Red App Centre
    </a>
  </div>
</section>
<section class="features">
  <ul><!--
     --><li>
      <span class="red-icon"><%= image_tag('icons/plane.png') %></span>
      <h3>Advanced Booking Tools</h3>
      <p>More itineraries<br/>from multiple consolidators.</p>
    </li><!--
     --><li>
      <span class="red-icon"><%= image_tag('icons/card.png') %></span>
      <h3>Automated Ticketing and QC</h3>
      <p>Confirm and ticket instantly.<br />It’s that simple.</p>
    </li><!--
     --><li>
      <span class="red-icon"><%= image_tag('icons/laptop.png') %></span>
      <h3>Profit Manager</h3>
      <p>Exclusive content from Mondee<br />consolidators all on one screen.</p>
    </li><!--
     --><li>
      <span class="red-icon"><%= image_tag('icons/chart.png') %></span>
      <h3>Reporting &amp; Analytics</h3>
      <p>Exclusive content from Mondee<br />consolidators all on one screen.</p>
    </li><!--
   --></ul>
</section>
<section class="partners">
  <h2>Our partners</h2>
  <ul>
    <li><%= image_tag 'partners/sabre.png' %></li>
    <li><%= image_tag 'partners/amadeus.png' %></li>
    <li><%= image_tag 'partners/travelport.png' %></li>
  </ul>
</section>
<section class="benefits">
  <h2>More savings for customers, more profit for you.</h2>
  <p>TripPro gives you the best international fares, lets you save search time<br />
and automate ticketing, which result in new sales, increased profits and happy customers.</p>

<ul>
  <li><p><strong>30% more</strong>unique itineraries</p></li>
  <li><p><strong>save 10h</strong>per agent on average</p></li>
  <li><p><strong>10% increase</strong>in agency profits</p></li>
  <li><p><strong>50% faster</strong>ticket reservations</p></li>
</ul>

  <div class="laptop-slider">
    <ul><!--
       --><li><%= image_tag('example-slide.png', data: {title: 'Desktop tool integrated seamlessly into the GDS'} ) %></li><!--
       --><li><%= image_tag('example-slide.png', data: {title: 'Slide 2'} ) %></li><!--
       --><li><%= image_tag('example-slide.png', data: {title: 'Slide 3'} ) %></li><!--
     --></ul>
    <a href="#" class='prev inactive'></a>
    <a href="#" class='next'></a>
    <p class="slide-title">Desktop tool integrated seamlessly into the GDS</p>
    <p><%= link_to 'See All Features', '#', class: 'red-arrow' %></p>
  </div>

  <h3>Ready for a journay?</h3>
  <p><%= link_to 'Get Started', '#', class: 'button red-one radius' %></p>
</section>
