<section class="video">
  <div class="video-wrapper">
    <video id="video-1" autoplay="autoplay" muted="muted" loop="loop" poster="assets/prev_post.jpg">
      <source src="https://www.paypalobjects.com/webstatic/mktg/wright/videos/home-signup.mp4" type="video/mp4" />
      <source src="https://www.paypalobjects.com/webstatic/mktg/wright/videos/home-signup.webm" type="video/webm" />
     <%= image_tag('prev_post.jpg', class: "poster_img" ) %>
    </video>
  </div>
  <h2 id="home-content-1" class="hide-for-small-only mercury-region" data-mercury="full"><%= content('home-content-1')%></h2>
  <h3 id="home-content-2" class="mercury-region" data-mercury="full"><%= content('home-content-2')%></h3>
  <div class="buttons">
    <%= link_to content('home-button-1'), webinars_path, class: 'button red-one white radius mercury-region', id: "home-button-1", data: {"mercury" => "full"} %>
    <%= link_to content('home-button-2'), tour_path, class: 'button white-one radius mercury-region', id: "home-button-2", data: {"mercury"=>"full"} %>
  </div>
  <div class="infobar hide-for-small-only">
    <a href="" class="with-arrow arrow-right">
      <%= image_tag('infobar-icon.png')  %>
      <span id="home-content-34" class="mercury-region" data-mercury="full"><%= content('home-content-34')%></span>
    </a>
  </div>
   <div class="infobar show-for-small-only">
    <a href="" class="with-arrow arrow-right">
      <%= image_tag('infobar-icon.png', :class => "hide-for-small-only") %>
      Sign up for webinar
    </a>
  </div>

</section>
<section class="features">
  <ul ><!--
     --><li class="small-12 medium-3 columns">
      <span class="red-icon"><%=link_to image_tag('icons/plane.png'), tour_path %></span>
      <span class="hoverit"><div id="home-content-3" class="mercury-region" data-mercury="full"> <h3><%= content('home-content-3')%></h3></div>
      <p id="home-content-7" class="mercury-region" data-mercury="full"><%=link_to content('home-content-7'), tour_path%></p></span>
    </li><!--
     --><li class="small-12 medium-3 columns">
      <span class="red-icon"><%=link_to image_tag('icons/card.png'), tour_path %></span>
      <span class="hoverit"><div id="home-content-4" class="mercury-region" data-mercury="full"><h3><%= content('home-content-4')%></h3></div>
      <p id="home-content-8" class="mercury-region" data-mercury="full"><%=link_to content('home-content-8'), tour_path%></p></span>
    </li><!--
     --><li class="small-12 medium-3 columns">
      <span class="red-icon"><%=link_to image_tag('icons/laptop.png'), tour_path %></span>
      <span class="hoverit"><div id="home-content-5" class="mercury-region" data-mercury="full"><h3><%=content('home-content-5')%></h3></div>
      <p id="home-content-9" class="mercury-region" data-mercury="full" ><%= link_to content('home-content-9'), tour_path%></p></span>
    </li><!--
     --><li class="small-12 medium-3 columns">
      <span class="red-icon"><%=link_to image_tag('icons/chart.png'), tour_path %></span>
      <span class="hoverit"><div id="home-content-6" class="mercury-region" data-mercury="full"><h3><%=content('home-content-6')%> </h3></div>
      <p id="home-content-10" class="mercury-region" data-mercury="full"><%=link_to content('home-content-10'), tour_path%></p></span>
    </li><!--
   --></ul>
</section>
<section class="partners">
  <h2>Our partners</h2>
  <ul>
    <li><%= image_tag 'partners/sabre.png' %></li>
    <li><%= image_tag 'partners/amadeus.png' %></li>
    <li><%= image_tag 'partners/travelport.png' %></li>
  </ul>
</section>
<section class="benefits">
  <h2 id="home-content-11" class="mercury-region" data-mercury="full"><%= content('home-content-11')%></h2>
  <p id="home-content-12" class="mercury-region" data-mercury="full"><%= content('home-content-12')%></p> 
  <p id="home-content-13" class="mercury-region" data-mercury="full">
 <span class="hide-for-small-only"><%=content('home-content-13')%></span></p>

  <ul class="">
      <li><p ><strong id="home-content-14" class="mercury-region" data-mercury="full"><%= content('home-content-14')%></strong><span id="home-content-18" class="mercury-region" data-mercury="full"><%= content('home-content-18')%></span ></p></li>
      <li><p ><strong id="home-content-15" class="mercury-region" data-mercury="full"><%= content('home-content-15')%></strong><span id="home-content-19" class="mercury-region" data-mercury="full"><%= content('home-content-19')%></span></p></li>
      <li><p ><strong id="home-content-16" class="mercury-region" data-mercury="full"><%= content('home-content-16')%></strong><span id="home-content-20" class="mercury-region" data-mercury="full"><%= content('home-content-20')%></span></p></li>
      <li><p ><strong id="home-content-17" class="mercury-region" data-mercury="full"><%= content('home-content-17')%></strong><span id="home-content-21" class="mercury-region" data-mercury="full"><%= content('home-content-21')%></span></p></li>
  </ul>

  <div class="hide-for-small-only laptop-slider">
    <ul><!--
       --><li><%= image_tag('example-slide.png', data: {title: 'Desktop tool integrated seamlessly into the GDS'} ) %></li><!--
       --><li><%= image_tag('example-slide.png', data: {title: 'Slide 2'} ) %></li><!--
       --><li><%= image_tag('example-slide.png', data: {title: 'Slide 3'} ) %></li><!--
     --></ul>
    <a href="#" class='prev inactive'></a>
    <a href="#" class='next'></a>
    <p class="slide-title">Desktop tool integrated seamlessly into the GDS</p>
  </div>
    <p><%= link_to 'See All Features  >', '#', class: 'red-chevron' %></p>

  <h3 id="home-content-33" class="mercury-region" data-mercury="full"><%=content('home-content-33')%></h3>
  <p class="get-started"><%= link_to content('home-button-1'), webinars_path, class: 'button red-one grey radius mercury-region', id: 'home-button-1', data:{"mercury"=>"full"} %></p>
</section>
<section class="benefits-at-your-service">
  <h2 id="home-content-22" class="mercury-region" data-mercury="full"><%=content('home-content-22')%></h2>
  <ul><!--
     --><li>
      <%= image_tag 'benefits/profits.png' %>
      <h3 id="home-content-23" class="mercury-region" data-mercury="full"> <%=content('home-content-23')%></h3>
      <p id="home-content-28" class="mercury-region" data-mercury="full">Complete control over commission<br />and profit with one click access to<br/>unparalleled consolidator inventory.</p>
    </li><!--
     --><li>
      <%= image_tag 'benefits/use.png' %>
      <h3 id="home-content-24" class="mercury-region" data-mercury="full"><%=content('home-content-24')%></h3>
      <p id="home-content-29" class="mercury-region" data-mercury="full"><%= content('home-content-29')%></p>
    </li><!--
     --><li>
      <%= image_tag 'benefits/time.png' %>
      <h3 id="home-content-25" class="mercury-region" data-mercury="full"><%=content('home-content-25')%></h3>
      <p id="home-content-30" class="mercury-region" data-mercury="full"><%= content('home-content-30')%></p>
    </li><!--
     --><li>
      <%= image_tag 'benefits/price.png' %>
      <h3 id="home-content-26" class="mercury-region" data-mercury="full"><%=content('home-content-26')%></h3>
      <p id="home-content-31" class="mercury-region" data-mercury="full"><%= content('home-content-31')%></p>
    </li><!--
     --><li>
      <%= image_tag 'benefits/experience.png' %>
      <h3 id="home-content-27" class="mercury-region" data-mercury="full"><%=content('home-content-27')%></h3>
      <p id="home-content-32" class="mercury-region" data-mercury="full"><%= content('home-content-32')%></p>
    </li><!--
   --></ul>
   <p class='get-started'><%= link_to 'Get Started', webinars_path, class: 'button red-one grey radius' %></p>
</section>
<section class="testimonials hide-for-small-only ">
  <h2>Testimonials</h2>
  <ul>
     <% @testimonials.each do |testimonial| %>
    <li class="row collapse" data-equalizer>
      <div class="image columns <%= cycle('','on-right')%>"  data-equalizer-watch>
        <%= image_tag('faces/1.png') %>
      </div>
      <div class="text columns"  data-equalizer-watch>
        <p><%=testimonial.content%></p>
        <p><strong><%=testimonial.name%></strong>,<%=testimonial.position%></p>
      </div>
    </li>
    <!-- <li class="row collapse" data-equalizer>
      <div class="image columns on-right"  data-equalizer-watch>
        <%= image_tag('faces/2.png') %>
      </div>
      <div class="text columns"  data-equalizer-watch>
        <p>“We are partnering with TripPro® because their technologically advanced platform and agent-focused design enables us to provide our member agencies airfares to destinations worldwide presented as one-stop shopping, TripPro® enhances our already robust air program in an easy and smart way.”</p>
        <p><strong>Chris Dane</strong>, President of Hickory Global Partners </p>
      </div>
    </li>
    <li class="row collapse" data-equalizer>
      <div class="image columns"  data-equalizer-watch>
        <%= image_tag('faces/3.png') %>
      </div>
      <div class="text columns"  data-equalizer-watch>
        <p>“We are partnering with TripPro® because their technologically advanced platform and agent-focused design enables us to provide our member agencies airfares to destinations worldwide presented as one-stop shopping, TripPro® enhances our already robust air program in an easy and smart way.”</p>
        <p><strong>Chris Dane</strong>, President of Hickory Global Partners </p>
      </div>
    </li> -->
      <% end %>
  </ul>
  <p class='get-started'><%= link_to 'Get Started', webinars_path, class: 'button red-one grey radius' %></p>
</section>

<section class="testimonials rwd  show-for-small-only ">
  <h2>Testimonials</h2>

  <ul>
    <li class="row collapse" data-equalizer>
      <!-- <div class="image columns"  data-equalizer-watch> -->
        <%= image_tag('faces/1.png') %>
      <!-- </div> -->
        <p><strong>Chris Dane</strong>, President of Hickory Global Partners </p>
      <div class="text columns"  data-equalizer-watch>
        <p>“We are partnering with TripPro® because their technologically advanced platform and agent-focused design enables us to provide our member agencies airfares to destinations worldwide presented as one-stop shopping, TripPro® enhances our already robust air program in an easy and smart way.”</p>
      </div>
    </li>
    <li class="row collapse" data-equalizer>
      <!-- <div class="image columns on-right"  data-equalizer-watch> -->
        <%= image_tag('faces/2.png') %>
      <!-- </div> -->
        <p><strong>Chris Dane</strong>, President of Hickory Global Partners </p>
      <div class="text columns"  data-equalizer-watch>
        <p>“We are partnering with TripPro® because their technologically advanced platform and agent-focused design enables us to provide our member agencies airfares to destinations worldwide presented as one-stop shopping, TripPro® enhances our already robust air program in an easy and smart way.”</p>
      </div>
    </li>
    <li class="row collapse" data-equalizer>
      <!-- <div class="image columns"  data-equalizer-watch> -->
        <%= image_tag('faces/3.png') %>
      <!-- </div> -->
        <p><strong>Chris Dane</strong>, President of Hickory Global Partners </p>
      <div class="text columns"  data-equalizer-watch>
        <p>“We are partnering with TripPro® because their technologically advanced platform and agent-focused design enables us to provide our member agencies airfares to destinations worldwide presented as one-stop shopping, TripPro® enhances our already robust air program in an easy and smart way.”</p>
      </div>
    </li>
  </ul>
  <p class='get-started'><%= link_to 'Get Started', webinars_path, class: 'button red-one grey radius' %></p>
</section>
