<section class="video">
  <div class="video-wrapper">
    <video id="video-1" autoplay="autoplay" muted="muted" loop="loop" poster="img/0.png">
      <source src="https://www.paypalobjects.com/webstatic/mktg/wright/videos/home-signup.mp4" type="video/mp4" />
      <source src="https://www.paypalobjects.com/webstatic/mktg/wright/videos/home-signup.webm" type="video/webm" />
    </video>
  </div>
  <h2>Empower your agency with power of TripPro<sup>&reg;</sup></h2>
  <h3>Discover revolutionary next generation search, book<br>and ticketing technology providing the best international fares.</h3>
  <div class="buttons">
    <%= link_to 'Get Started', '#', class: 'button red-one radius' %>
    <%= link_to 'Take the Tour', '#', class: 'button white-one radius' %>
  </div>
  <div class="infobar">
    <a href="" class="with-arrow arrow-right">
      <%= image_tag('infobar-icon.png')  %>
      Download TripPro From Sabre Red App Centre
    </a>
  </div>
</section>
<section class="features">
  <ul><!--
     --><li>
      <span class="red-icon"><%= image_tag('icons/plane.png') %></span>
      <h3>Advanced Booking Tools</h3>
      <p>More itineraries<br/>from multiple consolidators.</p>
    </li><!--
     --><li>
      <span class="red-icon"><%= image_tag('icons/card.png') %></span>
      <h3>Automated Ticketing and QC</h3>
      <p>Confirm and ticket instantly.<br />It’s that simple.</p>
    </li><!--
     --><li>
      <span class="red-icon"><%= image_tag('icons/laptop.png') %></span>
      <h3>Profit Manager</h3>
      <p>Exclusive content from Mondee<br />consolidators all on one screen.</p>
    </li><!--
     --><li>
      <span class="red-icon"><%= image_tag('icons/chart.png') %></span>
      <h3>Reporting &amp; Analytics</h3>
      <p>Exclusive content from Mondee<br />consolidators all on one screen.</p>
    </li><!--
   --></ul>
</section>
