<section class="featured-video">

  <div class="video-wrapper hide-for-small-only">
    <video id="video-1" autoplay="autoplay" muted="muted" loop="loop" poster="<%= @cover_photo %>">
      <% @videos.each do |video| %>
        <source src="<%= video.file.url(:original, timestamp: false) %>" class="hide-for-small-only" type="<%= video.file_content_type %>" />
      <% end %>
      <%= image_tag(@cover_photo, class: "poster_img" ) %>
    </video>
  </div>
  <div class="video-wrapper show-for-small-only">
    <video id="video-1" autoplay="autoplay" muted="muted" loop="loop" poster="<%= @cover_photo %>">
     <%= image_tag(@cover_photo, class: "poster_img" ) %>
    </video>
  </div>
  <h2 id="tour-content-video-1" class="mercury-region" data-mercury="full"><%=content('tour-content-video-1')%></h2>
</section>

<section class="feature" id="lowest-prices" style="min-height: 460px;">

  <div class="row">
    <div class="hide-for-small-only image gifs"><%= image_tag("tour/laptop_animation1.png") %></div>
    <div class="small-12 columns text">
      <span class="red-icon"><%= image_tag('icons/lowest_prices_ico.png') %></span>
      <h3 id="tour-content-video-2" class="mercury-region" data-mercury="full"><%= content('tour-content-video-2')%></h3>
      <p id="tour-content-video-3" class="mercury-region" data-mercury="full"><%=content('tour-content-video-3')%></p>
      <ul class="section_list mercury-region" id="tour-content-video-4" data-mercury="full">
          <%=content('tour-content-video-4')%>
      </ul>
      <% if false %>
      <p class="exphov"><%= link_to '#_', class: "more_info_expander", data: { "target" => "learn_book"} do %>
        <i class="custom-icon red-arrow"></i> Learn more about Booking Tool
      <% end %></p>
      <% end %>
    </div>
  </div>

  <div class="learn_book expandable">
    <div class="row">

    <!-- <div class="close"> -->
      <a href="#_" class="close" data-target="learn_book"> </a>
    <!-- </div> -->

      <ul class="round-items show-for-small-only">
          <li><p><strong >105</strong><span></span>Airline Partners</p></li>
          <li><p><strong >137</strong><span></span>Exclusive Contracts</p></li>
          <li><p><strong >24/7</strong><span></span>Support</p></li>
          <li><p><strong >30% More</strong><span></span>Unique itineraries</p></li>
      </ul>
      <%#= render "application/hidden_content/video_section" %>

      <section class="quote">
        <div class="quote_cont columns">
          <div class="ptext columns">
            <p id="quote-content-1"class="quote mercury-region" data-mercury="full"><%=content('quote-content-1')%></p>
          <div id="triangle"></div>
          </div>
            <div class="hide-for-small">
            <p class="chris"><span class="chris"><strong >Chris Dane,</strong>president of Hickory Global Partners</span> <%= image_tag('faces/3.png', size: "115x115") %></p>
            </div>
            <div class="show-for-small">
            <%= image_tag('faces/3.png', size: "115x115") %><p class="chris">
<strong >Chris Dane,</strong><br />president of Hickory Global Partners </p>
            </div>            
          <div class="clearer"></div>
        </div>
      </section>

      <%#= render "application/hidden_content/benefits_at_your_service" %>
      <section class="benefits-at-your-service benefits-tour">
        <div class="small-5  large-12 large-centered columns">
        <ul>
          <li><p><%= link_to demo_path do%><i class="custom-icon webinar"></i>Request a Free Demo<%end%></p></li>
        </ul>
        </div>
      </section>
    </div><!-- row -->
  </div><!-- learn_book -->

</section>

<%#= render "application/hidden_content/self_servicing_tool_section" %>
<section class="feature switch-order" id="profit-manager" style="min-height:460px;">
  <div class="row">
    <div class="hide-for-small-only image image">
      <%= image_tag("tour/dashboard.jpg") %>
    </div>
    <div class="columns text">
      <span class="red-icon"><%= image_tag('icons/ticketing_ico.png') %></span>
      <h3 id="tour-content-video-11" class="mercury-region" data-mercury="full"><%= content('tour-content-video-11') %></h3>
      <p id="tour-content-video-12" class="mercury-region" data-mercury="full"><%= content('tour-content-video-12')%></p>
      <ul class="section_list mercury-region" id="tour-content-video-20" data-mercury="full">
        <%= content("tour-content-video-20") %>
      </ul>
      <% if false %>
      <p class="expander"><%= link_to '#_', class: "more_info_expander", data: { "target" => "learn_reporting" } do %>
        <i class="custom-icon red-arrow"></i> Learn more about Reporting and Analytics
      <% end %></p>
      <% else %>
      
      <% end %>
    </div>
  </div>
<%= render 'application/hidden_content/learn_reporting' %>
  
  </div>
</section>


<section class="feature" id="reporting-and-analytics" style="min-height: 460px;">
  <div class="row">
    <div class="hide-for-small-only image gifs"><%= image_tag("tour/laptop_animation1.png") %></div>
    <div class="small-12 columns text">
      <span class="red-icon"><%= image_tag('icons/analitics_ico.png') %></span>
      <h3 id="tour-content-video-8" class="mercury-region" data-mercury="full"><%= content('tour-content-video-8')%></h3>
      <p id="tour-content-video-9" class="mercury-region" data-mercury="full"><%= content('tour-content-video-9')%></p>
      <ul class="section_list mercury-region" id="tour-content-video-19" data-mercury="full">
        <%= content("tour-content-video-19") %>
      </ul>
      <% if false %>
      <p class="expander"><%= link_to '#', class: "more_info_expander", data: { "target" => "learn_profit" } do %>
        <i class="custom-icon red-arrow"></i> Learn more about Profit Manager
      <% end %>
      </p>
      <% else %>
      <% end %>
    </div>
  </div>

  <div class="learn_profit expandable"></div>
</section>



<!-- <section class="other-feature">
  <div class="row">
    <div class="columns">
      <span class="red-icon"><%= image_tag('icons/platform.png') %></span>
      <h3 id="tour-content-video-14" class="mercury-region" data-mercury="full"><%= content('tour-content-video-14')%></h3>
      <p id="tour-content-video-16" class="mercury-region" data-mercury="full"><%= content('tour-content-video-16')%></p>
      <p class="hide-for-small-only">
        <span data-tooltip aria-haspopup="true" class="has-tip" title="Through the Sabre travel marketplace, our GDS, gain global access to more than 400 airlines, 125,000 hotel properties, 16 cruise lines and 25 car rental brands. You will have a mile-long list of travel options to provide to your customers. "><%= link_to "Sabre Red", '#' %> •</span>
        <span data-tooltip aria-haspopup="true" class="has-tip" title="Tooltips are awesome, you should totally use them!"><%= link_to "Desktop", '#' %> •</span>
        <span data-tooltip aria-haspopup="true" class="has-tip" title="Tooltips are awesome, you should totally use them!"> <%= link_to "Web", '#' %> •</span>
        <span data-tooltip aria-haspopup="true" class="has-tip" title="Tooltips are awesome, you should totally use them!"><%= link_to "TriPro API", '#' %></span>
      </p>

      <ul class="show-for-small-only other_feat">
        <li><%= link_to "Sabre Red", '#' %> </li>
        <li><%= link_to "Desktop", '#' %></li>
        <li><%= link_to "Web", '#' %></li>
        <li><%= link_to "TriPro API", '#' %></li>
      </ul>
    </div>
  </div>
</section> 
<section class="other-feature show-for-small-only">
      <span class="red-icon">
        <%= image_tag('icons/platform.png') %>
      </span>
      <h3 id="tour-content-video-14" class="mercury-region" data-mercury="full"><%= content('tour-content-video-14')%></h3>
      <p id="tour-content-video-15" class="mercury-region" data-mercury="full"><%= content('tour-content-video-15')%></p>
      <ul class=" other_feat">
        <li><%= link_to "Sabre Red", '#' %> </li>
        <li><%= link_to "Desktop", '#' %></li>
        <li><%= link_to "Web", '#' %></li>
        <li><%= link_to "TriPro API", '#' %></li>
      </ul>
</section>
-->
<section class="other-feature">
  <div class="row">
    <div class="columns">
        <%=link_to image_tag('icons/24h.jpeg'), '#' %>
        <%= link_to "",'#'%>
      <h3 id="tour-content-video-16" class="mercury-region" data-mercury="full"><%= content('tour-content-video-16')%></h3>
      <p class="support mercury-region" id="tour-content-video-17"  data-mercury="full"><%= content('tour-content-video-17')%></p>
    </div>
  </div>
</section>

<section class="get_started">
  <h3 id="tour-content-video-18" class="mercury-region" data-mercury="full"><%= content('tour-content-video-18')%></h3>
  <p class='get-started'><%= link_to 'Get Started', webinars_path, class: 'button red-one grey radius' %></p>
</section>
