<section class="featured-video">
  <div class="poster">
    <%= image_tag('featured_video.jpg') %>
  </div>
  <h2 id="tour-content-video-1" class="mercury-region" data-mercury="full"><%=content('tour-content-video-1')%></h2>
  <a href="#" class="play-button"><i class="custom-icon play"></i></a>
</section>

<section class="feature">

  <div class="row">
    <div class="hide-for-small-only image"></div>
    <div class="small-12 columns text">
      <span class="red-icon"><%= image_tag('icons/plane.png') %></span>
      <h3 id="tour-content-video-2" class="mercury-region" data-mercury="full"><%= content('tour-content-video-2')%></h3>
      <p id="tour-content-video-3" class="mercury-region" data-mercury="full"><%=content('tour-content-video-3')%></p>
      <ul class="section_list mercury-region" id="tour-content-video-4" data-mercury="full">
          <%=content('tour-content-video-4')%>
      </ul>
      <p><%= link_to '#_', class: "more_info_expander", data: { "target" => "learn_book"} do %>
        <i class="custom-icon red-arrow"></i> Learn more about Booking Tool
      <% end %></p>
    </div>
  </div>

  <div class="learn_book expandable">
    <div class="row">

    <!-- <div class="close"> -->
      <a href="#_" class="close" data-target="learn_book"> </a>
    <!-- </div> -->

      <ul class="round-items show-for-small-only">
          <li><p><strong id="qc-content-1" class="mercury-region" data-mercury="full"><%=content('qc-content-1')%></strong><span id="qc-content-2" class="mercury-region" data-mercury="full"></span><%=content('qc-content-2')%></p></li>
          <li><p><strong id="qc-content-3" class="mercury-region" data-mercury="full"><%= content('qc-content-3')%></strong><span id="qc-content-4" class="mercury-region" data-mercury="full"><%=content('qc-content-4')%></span></p></li>
          <li><p><strong id="qc-content-5" class="mercury-region" data-mercury="full"><%= content('qc-content-5')%></strong><span id="qc-content-6" class="mercury-region" data-mercury="full"><%=content('qc-content-6')%></span></p></li>
          <li><p><strong id="qc-content-7" class="mercury-region" data-mercury="full"><%=content('qc-content-7')%></strong><span id="qc-content-8" class="mercury-region" data-mercury="full"><%=content('qc-content-8')%></span></p></li>
      </ul>
      <section class="videos hide-for-small-only">
        <ul>
          <li>
            <%= image_tag 'tour/emb_video1.jpg' %>
            <h3 id="learn_book-content-1" class="mercury-region" data-mercury="full"><%=content('learn_book-content-1')%></h3>
            <p id="learn_book-content-2" class="mercury-region" data-mercury="full" ><%= content('learn_book-content-2')%></p>
          </li>
           <li>
            <%= image_tag 'tour/emb_video1.jpg' %>
            <h3 id="learn_book-content-3" class="mercury-region" data-mercury="full"><%= content('learn_book-content-3')%></h3>
            <p id="learn_book-content-4" class="mercury-region" data-mercury="full"><%= content('learn_book-content-4')%></p>
          </li>
          <li>
            <%= image_tag 'tour/emb_video1.jpg' %>
            <h3 id="learn_book-content-5" class="mercury-region" data-mercury="full"><%= content('learn_book-content-5')%></h3>
            <p id="learn_book-content-6" class="mercury-region" data-mercury="full"><%= content('learn_book-content-6')%></p>
          </li>
         <li>
            <%= image_tag 'tour/emb_video1.jpg' %>
            <h3 id="learn_book-content-7" class="mercury-region" data-mercury="full"><%=content('learn_book-content-7')%></h3>
            <p id="learn_book-content-8" class="mercury-region" data-mercury="full"><%= content('learn_book-content-8')%></p>
          </li>
         <li>
            <%= image_tag 'tour/emb_video1.jpg' %>
            <h3 id="learn_book-content-9" class="mercury-region" data-mercury="full"><%= content('learn_book-content-9')%></h3>
            <p id="learn_book-content-10" class="mercury-region" data-mercury="full"><%= content('learn_book-content-10')%></p>
          </li>
        </ul>
      </section> <!-- videos -->

      <section class="quote">
        <div class="quote_cont">
          <div class="ptext columns">
            <p id="quote-content-1"class="quote mercury-region" data-mercury="full"><%=content('quote-content-1')%></p>
          <div id="triangle"></div>
          </div>
          <div class="president">
            <p class="chris"><span class="chris"><strong >Chris Dane,</strong>president of Hickory Global Partners</span> <%= image_tag('faces/3.png', size: "115x115") %></p>
          </div>
          <div class="clearer"></div>
        </div>
      </section>

      <section class="benefits-at-your-service tour">
        <h2 id="benefits-content-1"class= "hide-for-small-only mercury-region" data-mercury="full">Our product, your benefits</h2>
        <ul><!--
           --><li>
            <%= image_tag 'benefits/profits.png', :class => "hide-for-small-only"%>
            <h3 id="benefits-content-2" class="mercury-region" data-mercury="full"><%= content('benefits-content-2')%></h3>
            <p id="benefits-content-3" class="mercury-region" data-mercury="full"><%= content('benefits-content-3')%></p>
          </li><!--
           --><li>
            <%= image_tag 'benefits/use.png' , :class => "hide-for-small-only"%>
            <h3 id="benefits-content-4" class="mercury-region" data-mercury="full"><%= content('benefits-content-4')%></h3>
            <p id="benefits-content-5" class="mercury-region" data-mercury="full"><%= content('benefits-content-5')%></p>
          </li><!--
           --><li>
            <%= image_tag 'benefits/time.png' , :class => "hide-for-small-only"%>
            <h3 id="benefits-content-6" class="mercury-region" data-mercury="full"><%= content('benefits-content-6')%></h3>
            <p id="benefits-content-7" class="mercury-region" data-mercury="full"><%= content('benefits-content-7')%></p>
          </li>
         <li>
            <%= image_tag 'benefits/price.png', :class => "hide-for-small-only" %>
            <h3 id="benefits-content-8" class="mercury-region" data-mercury="full"><%= content('benefits-content-8')%></h3>
            <p id="benefits-content-9" class="mercury-region" data-mercury="full"><%= content('benefits-content-9')%></p>
          </li><!--
           --><li>
            <%= image_tag 'benefits/experience.png', :class => "hide-for-small-only" %>
            <h3 id="benefits-content-10" class="mercury-region" data-mercury="full"><%= content('benefits-content-10')%></h3>
            <p id="benefits-content-11" class="mercury-region" data-mercury="full"><%= content('benefits-content-11')%></p>
          </li>
        </ul>
      </section>

      <section class="benefits-at-your-service benefits-tour">
        <ul>
          <li><i class="custom-icon webinar"></i><span>Request a Free Demo</span></li>
          <li><i class="custom-icon down-side red-arrow"></i><span>Download Brochure (PDF)</span></li>
        </ul>
      </section>

    </div><!-- row -->
  </div><!-- learn_book -->

</section>

<section class="feature switch-order">
  <div class="row">
    <div class="hide-for-small-only image"></div>

    <div class="small-12 columns text">
      <span class="red-icon"><%= image_tag('icons/card.png') %></span>
      <h3 id="tour-content-video-5" class="mercury-region" data-mercury="full"><%= content('tour-content-video-5')%></h3>
      <p id="tour-content-video-6" class="mercury-region" data-mercury="full"><%= content('tour-content-video-6')%></p>
      <ul class="section_list">
        <li>Instant ticketing</li>
        <li>Robo-ticketing</li>
        <li>24/7 ticketing support</li>
        <li>Pre/Post ticket QC</li>
        <li>Price validation</li>
      </ul>
      <p class="expander"><%= link_to '#_', class: "more_info_expander", data: { "target" => "learn_qc" } do %>
        <i class="custom-icon red-arrow"></i> Learn more about Ticketing and QC
        <% end %></p>
    </div>
  </div>

  <div class="learn_qc expandable">
    <div class="row">

      <a href="#_" class="close" data-target="learn_qc"></a>

      <ul class="round-items">
          <li><p><strong id="qc-content-1" class="mercury-region" data-mercury="full"><%=content('qc-content-1')%></strong><span id="qc-content-2" class="mercury-region" data-mercury="full"></span><%=content('qc-content-2')%></p></li>
          <li><p><strong id="qc-content-3" class="mercury-region" data-mercury="full"><%= content('qc-content-3')%></strong><span id="qc-content-4" class="mercury-region" data-mercury="full"><%=content('qc-content-4')%></span></p></li>
          <li><p><strong id="qc-content-5" class="mercury-region" data-mercury="full"><%= content('qc-content-5')%></strong><span id="qc-content-6" class="mercury-region" data-mercury="full"><%=content('qc-content-6')%></span></p></li>
          <li><p><strong id="qc-content-7" class="mercury-region" data-mercury="full"><%=content('qc-content-7')%></strong><span id="qc-content-8" class="mercury-region" data-mercury="full"><%=content('qc-content-8')%></span></p></li>
      </ul>
      <div class="embedded_video">
        <%= image_tag('tour/emb_video.png', class: "emb_vid") %>
        <div id="play">
          <i class="custom-icon play-gray"></i>
        </div>
      </div>
      <div class="liimg large-push-2 large-11 large-centered">
        <ul>
          <li>
            <p class="numbers">1</p><div class="liimg-text"><h2 id="qc-content-9" class="mercury-region" data-mercury="full"><%=content('qc-content-9')%></h2> <br><p id="qc-content-10" class="mercury-region" data-mercury="full" ><%=content('qc-content-10')%></p></div>
            <div class="liimg-img ticket"><%= image_tag('tour/a.png') %></div>
          </li>
          <li>
            <p class="numbers">2</p><div class="liimg-text"><h2 id="qc-content-11" class="mercury-region" data-mercury="full"><%=content('qc-content-11')%></h2><p id="qc-content-12" class="mercury-region" data-mercury="full"><%= content('qc-content-12')%></p></div>
            <div class="liimg-img"><%= image_tag('tour/b.png') %></div>
          </li>

          <li>
            <p class="numbers">3</p><div class="liimg-text"><h2 id="qc-content-13" class="mercury-region" data-mercury="full"><%=content('qc-content-13')%></h2><p id="qc-content-14" class="mercury-region" data-mercury="full"><%=content('qc-content-14')%></p></div><div class="liimg-img"><%= image_tag('tour/c.png') %></div></li>

          <li><p class="numbers">4</p><div class="liimg-text"><h2 id="qc-content-15" class="mercury-region" data-mercury="full"><%=content('qc-content-15')%></h2><p id="qc-content-16" class="mercury-region" data-mercury="full"><%=content('qc-content-16')%></p></div><div class="liimg-img"><%= image_tag('tour/d.png') %></div></li>
        </ul>
      </div>

      <div class="profits">
        <div class="row">
          <ul>
            <li><h2 id="qc-content-17" class="mercury-region" data-mercury="full"><%=content('qc-content-17')%></h2>
              <p id="qc-content-18" class="mercury-region" data-mercury="full"><%=content('qc-content-18')%></p></li>
            <li><h2 id="qc-content-19" class="mercury-region" data-mercury="full"><%=content('qc-content-19')%></h2>
              <p id="qc-content-20" class="mercury-region" data-mercury="full"><%=content('qc-content-20')%></p></li>
            <li><h2 id="qc-content-21" class="mercury-region" data-mercury="full"><%=content('qc-content-21')%></h2>
              <p id="qc-content-22" class="mercury-region" data-mercury="full"><%=content('qc-content-22')%></p></li>
            <li><h2 id="qc-content-23" class="mercury-region" data-mercury="full"><%=content('qc-content-23')%></h2><p id="qc-content-24" class="mercury-region" data-mercury="full"><%=content('qc-content-24')%></p></li>
          </ul>
        </div>
      </div>

      <section class="benefits-at-your-service benefits-tour">
        <ul>
          <li><i class="custom-icon webinar"></i><span>Request a Free Demo</span></li>
          <li><i class="custom-icon down-side red-arrow"></i><span>Download Brochure (PDF)</span></li>
        </ul>
      </section>
    </div>
  </div>

</section>

<section class="feature">
  <div class="row">
    <div class="hide-for-small-only image"></div>
    <div class="small-12 columns text">
      <span class="red-icon"><%= image_tag('icons/laptop.png') %></span>
      <h3 id="tour-content-video-8" class="mercury-region" data-mercury="full"><%= content('tour-content-video-8')%></h3>
      <p id="tour-content-video-9" class="mercury-region" data-mercury="full"><%= content('tour-content-video-9')%></p>
      <ul class="section_list">
        <li>Debit Memo Management</li>
        <li>Markup Management</li>
        <li>Advanced Markup Management</li>
        <li>Agent Management</li>
      </ul>
      <p class="expander"><%= link_to '#', class: "more_info_expander", data: { "target" => "learn_profit" } do %>
        <i class="custom-icon red-arrow"></i> Learn more about Profit Manager
      <% end %></p>
    </div>
  </div>

  <div class="learn_profit expandable"></div>
</section>

<section class="feature switch-order">
  <div class="row">
    <div class="hide-for-small-only image slider"></div>
    <div class="columns text">
      <span class="red-icon"><%= image_tag('icons/chart.png') %></span>
      <h3 id="tour-content-video-11" class="mercury-region" data-mercury="full"><%= content('tour-content-video-11') %></h3>
      <p id="tour-content-video-12" class="mercury-region" data-mercury="full"><%= content('tour-content-video-12')%></p>
      <ul class="section_list">
        <li>Booking</li>
        <li>Invoices</li>
        <li>+/- 3 day fares</li>
        <li>Statement of accounts</li>
        <li>Agent Performance</li>
        <li>Consolidator Sales</li>
        <li>Sales Summarry</li>
      </ul>
      <p class="expander"><%= link_to '#', class: "more_info_expander", data: { "target" => "learn_reporting" } do %>
        <i class="custom-icon red-arrow"></i> Learn more about Reporting and Analytics
      <% end %></p>
    </div>
  </div>

  <div class="learn_reporting expandable">
    <div class="small-12 medium-12 ability">
      <span class="red-icon">
        <%= image_tag('icons/platform.png') %>
      </span>
        <h2 id="report-content-1" class="mercury-region" data-mercury="full"><%=content('report-content-1')%></h2>
        <h4 id="report-content-2" class="mercury-region" data-mercury="full"><%=content('report-content-2')%></h4> 
        <!-- gora sekcji reporting -->
    </div>
      <ul class="medium-12 platforms">
        <div class="medium-4 columns trip">
          <li class="tit">
            <%= image_tag 'tour/api.png', :class => "api" %>
            <h4 id="report-content-3" class="mercury-region" data-mercury="full"><%=content('report-content-3')%></h4><p id="api report-content-4" class="mercury-region" data-mercury="full"> <%=content('report-content-4')%></p>
                <ul class="nested">
                <li>Simple integration based on industry standards</li>
                <li>Extremely reliable and fully scalable</li>
                <li>Provides access to worldwide net fares <br>saving valuable time and money</li>
                <li>Maximizes customer satisfaction<br> as well as revenue opportunities</li>
              </ul>
              <!-- pierwsza kolumna -->
          </li>
        </div>
        <div class="medium-4 columns trip">
          <li class="tit" data-equalizer-watch>
            <%= image_tag 'tour/desktop.png', :class => "desktop" %>
            <h4 id="report-content-5" class="mercury-region" data-mercury="full"><%= content('report-content-5')%></h4>
            <p id="desktop report-content-6" class="mercury-region" data-mercury="full">
              <%=content('report-content-6')%></p>
              <ul class="nested">
                <li>Easy to implement, no technical expertise required</li>
                <li>3+/- Calendar Shopping</li>
                <li>No training required</li>
                <li>Competitive fares increase agency profits</li>
                <li>Compare net fares with those of the scheduled <br>airlines that are provided by the GDS</li>
              </ul>
              <!-- druga kolumna -->
          </li>
        </div>
        <div class="medium-4 columns trip">
          <li class="tit">
            <%= image_tag 'tour/web.png', :class => "web" %>
            <h4 id="report-content-7" class="mercury-region" data-mercury="full"><%=content('report-content-7')%></h4>
            <h5 id="report-content-8" class="mercury-region" data-mercury="full"> <%=content('report-content-8')%></h5>
            <p id="web" id="report-content-9" class="mercury-region" data-mercury="full"><%=content('report-content-9')%></p>
              <ul class="nested">
                <li>20% complete bookings faster</li>
                <li>30% less Key Strokes</li>
                <li>20% Increased productivity</li>
                <li>Requires no additional software installation</li>
                <li>Offers complete platform independence</li>
              </ul>
              <!-- trzecia kolumna -->
          </li>
        </div>
      </ul>
  </div>
  </div>
</section>

<!-- <section class="other-feature">
  <div class="row">
    <div class="columns">
      <span class="red-icon"><%= image_tag('icons/platform.png') %></span>
      <h3 id="tour-content-video-14" class="mercury-region" data-mercury="full"><%= content('tour-content-video-14')%></h3>
      <p id="tour-content-video-16" class="mercury-region" data-mercury="full"><%= content('tour-content-video-16')%></p>
      <p class="hide-for-small-only">
        <span data-tooltip aria-haspopup="true" class="has-tip" title="Through the Sabre travel marketplace, our GDS, gain global access to more than 400 airlines, 125,000 hotel properties, 16 cruise lines and 25 car rental brands. You will have a mile-long list of travel options to provide to your customers. "><%= link_to "Sabre Red", '#' %> •</span>
        <span data-tooltip aria-haspopup="true" class="has-tip" title="Tooltips are awesome, you should totally use them!"><%= link_to "Desktop", '#' %> •</span>
        <span data-tooltip aria-haspopup="true" class="has-tip" title="Tooltips are awesome, you should totally use them!"> <%= link_to "Web", '#' %> •</span>
        <span data-tooltip aria-haspopup="true" class="has-tip" title="Tooltips are awesome, you should totally use them!"><%= link_to "TriPro API", '#' %></span>
      </p>

      <ul class="show-for-small-only other_feat">
        <li><%= link_to "Sabre Red", '#' %> </li>
        <li><%= link_to "Desktop", '#' %></li>
        <li><%= link_to "Web", '#' %></li>
        <li><%= link_to "TriPro API", '#' %></li>
      </ul>
    </div>
  </div>
</section> -->
<section class="other-feature show-for-small-only">
      <span class="red-icon"><%= image_tag('icons/platform.png') %></span>
      <h3 id="tour-content-video-14" class="mercury-region" data-mercury="full"><%= content('tour-content-video-14')%></h3>
      <p id="tour-content-video-15" class="mercury-region" data-mercury="full"><%= content('tour-content-video-15')%></p>
      <ul class=" other_feat">
        <li><%= link_to "Sabre Red", '#' %> </li>
        <li><%= link_to "Desktop", '#' %></li>
        <li><%= link_to "Web", '#' %></li>
        <li><%= link_to "TriPro API", '#' %></li>
      </ul>
</section>
<section class="other-feature">
  <div class="row">
    <div class="columns">
      <span class="red-icon">
        <%=link_to image_tag('icons/24h.png'), '#' %>
        <%= link_to "",'#'%>
      </span>
      <h3 id="tour-content-video-16" class="mercury-region" data-mercury="full"><%= content('tour-content-video-16')%></h3>
      <p class="support mercury-region" id="tour-content-video-17"  data-mercury="full"><%= content('tour-content-video-17')%></p>
    </div>
  </div>
</section>

<section class="get_started">
  <h3 id="tour-content-video-18" class="mercury-region" data-mercury="full"><%= content('tour-content-video-18')%></h3>
  <p class='get-started'><%= link_to 'Get Started', webinars_path, class: 'button red-one radius' %></p>
</section>
