<section class="featured-video">
  <div class="poster">
    <%= image_tag('featured_video.jpg') %>
  </div>
  <h2>Discover the power behind TripPro</h2>
  <a href="#" class="play-button"><i class="custom-icon play"></i></a>
</section>
<section class="feature">
  <div class="row">
    <div class="hide-for-small-only image">

    </div>
    <div class="small-12 columns text">
      <span class="red-icon"><%= image_tag('icons/plane.png') %></span>
      <h3>Advanced Booking Tool</h3>
      <p>Search global content from four consolidators through a single source. Trippro’s innovative algorithms uncover hidden routings and recommend the best custom itineraries.</p>
      <ul>
        <li>GDS integrated on the desktop</li>
        <li>One click booking</li>
        <li>+/- 3 day fares</li>
        <li>Unique itineraries</li>
        <li>30+ day real-time fare calendar</li>
        <li>Search multiple GDS</li>
        <li>Advanced filters</li>
      </ul>
      <p><%= link_to '#_', class: "more_info_expander", data: { "target" => "learn_book"} do %>
        <i class="custom-icon red-arrow"></i> Learn more about Booking Tool
        <% end %></p>
    </div>
  </div>
  <div class="learn_book">
    <div class="row">
    <section class="videos">
      <ul><!--
           --><li>
            <%= image_tag 'tour/emb_video.png' %>
            <h3>Maximize Profits</h3>
            <p>Complete control over commission<br />and profit with one click access to<br/>unparalleled consolidator inventory.</p>
          </li><!--
           --><li>
            <%= image_tag 'tour/emb_video.png' %>
            <h3>Easy to Use</h3>
            <p>Fares displayed seamlessly via browser<br />or with anypreferred GDS partner on<br />the same screen, no training needed.</p>
          </li><!--
           --><li>
            <%= image_tag 'tour/emb_video.png' %>
            <h3>Saves Time</h3>
            <p>One-click booking eliminates manual<br />processing time and reduces new<br />agent training time.</p>
          </li>
         <li>
            <%= image_tag 'tour/emb_video.png' %>
            <h3>Price Assurance</h3>
            <p>Fares from the world’s leading<br />consolidators, available instantly.</p>
          </li><!--
           --><li>
            <%= image_tag 'tour/emb_video.png' %>
            <h3>Experience and Trust</h3>
            <p>Built for travel professionals by travel experts<br />with over 120 years of experience<br />helping agencies grow.</p>
          </li>
        </ul>
    </section> <!-- videos -->

    <section class="quote">
        <div class="ptext columns"  data-equalizer-watch>
        <p>“We are partnering with TripPro® because their technologically advanced platform and agent-focused design enables us to provide our member agencies airfares to destinations worldwide presented as one-stop shopping, TripPro® enhances our already robust air program in an easy and smart way.”</p>
      </div>
      <div class="president">
       <p><strong>Chris Dane</strong>, President of Hickory Global Partners </p>
      <%= image_tag('faces/3.png') %>
    </div>
    </section>
    
    <section class="benefits-at-your-service">
        <h2>Our product, your benefits</h2>
        <ul><!--
           --><li>
            <%= image_tag 'benefits/profits.png' %>
            <h3>Maximize Profits</h3>
            <p>Complete control over commission<br />and profit with one click access to<br/>unparalleled consolidator inventory.</p>
          </li><!--
           --><li>
            <%= image_tag 'benefits/use.png' %>
            <h3>Easy to Use</h3>
            <p>Fares displayed seamlessly via browser<br />or with anypreferred GDS partner on<br />the same screen, no training needed.</p>
          </li><!--
           --><li>
            <%= image_tag 'benefits/time.png' %>
            <h3>Saves Time</h3>
            <p>One-click booking eliminates manual<br />processing time and reduces new<br />agent training time.</p>
          </li>
         <li>
            <%= image_tag 'benefits/price.png' %>
            <h3>Price Assurance</h3>
            <p>Fares from the world’s leading<br />consolidators, available instantly.</p>
          </li><!--
           --><li>
            <%= image_tag 'benefits/experience.png' %>
            <h3>Experience and Trust</h3>
            <p>Built for travel professionals by travel experts<br />with over 120 years of experience<br />helping agencies grow.</p>
          </li>
        </ul>
        <ul>
          <li><i class="custom-icon red-arrow"></i>Request a Free Demo</li>
          <li><i class="custom-icon red-arrow"></i>Download Brochure (PDF)</li>
        </ul>
      </section>
    </div><!-- row -->
  </div><!-- learn_book -->
</section>
<section class="feature switch-order">
  <div class="row">
    <div class="hide-for-small-only image">
    </div>

    <div class="small-12 columns text">
      <span class="red-icon"><%= image_tag('icons/card.png') %></span>
      <h3>Automated Ticketing and QC</h3>
      <p>Connect to TripPro in real-time and take advantage of instant ticketing technology. Confirm seats and ticket instantly with one click. It’s that simple!</p>
      <ul>
        <li>Instant ticketing</li>
        <li>Robo-ticketing</li>
        <li>24/7 ticketing support</li>
        <li>Pre/Post ticket QC</li>
        <li>Price validation</li>
      </ul>
      <p><%= link_to '#_', class: "more_info_expander", data: { "target" => "learn_qc" } do %>
        <i class="custom-icon red-arrow"></i> Learn more about Ticketing and QC
        <% end %></p>
    </div>
  </div>
  <div class="learn_qc">
    <ul>
        <li><p><strong>30% increase</strong>ticket processing time</p></li>
        <li><p><strong>20%</strong>reduction of errors</p></li>
        <li><p><strong>120</strong>years of industry <br>experience</p></li>
        <li><p><strong>24/7</strong>Support</p></li>
    </ul>

      <div class="embedded_video">
        <%= image_tag('tour/emb_video.png') %>
      </div>
      <div class="liimg">
        <ul>
          <li><span class="red-icon"><h1>1</h1></span><div class="liimg-text"><h2>Instant Ticketing</h2> <br><p>Connect to TripPro and confirm seats and ticket instantly with one click. It’s that simple!</p></div><div class="liimg-img"><%= image_tag('tour/a.png') %></div></li>
          <li><span class="red-icon"><h1>2</h1></span><div class="liimg-text"><h2>Intuitive Interface</h2><p>Works seamlessly delivering multiple consolidator fares alongside your GDS screen or web browser.</p></div><div class="liimg-img"><%= image_tag('tour/b.png') %></div></li>

          <li><span class="red-icon"><h1>3</h1></span><div class="liimg-text"><h2>Single Source Platform</h2><p>Search exclusive global content from your choice of Mondee’s four leading consolidators and multiple GDS from a single screen.</p></div><div class="liimg-img"><%= image_tag('tour/a.png') %></div></li>

          <li><span class="red-icon"><h1>4</h1></span><div class="liimg-text"><h2>24/7 support</h1><p>Customer support available around the clock to solve problems quickly.</p></div><div class="liimg-img"><%= image_tag('tour/a.png') %></div></li>
        </ul>
      </div>

      <div class="profits">
        <div class="row">
        <ul>
          <li><h2>Maximize profits</h2><br><p>Wasteful ticketing processing time is reduced, allowing agents to focus on increasing ticket sales</p></li>
          <li><h2>Satisfied Customers</h2><br><p>More time with customers creates happier,  loyal customers that return</p></li>
          <li><h2>Time Savings</h2><br><p>Agencies can focus on building strong customer relationship instead of manually processing tickets</p></li>
          <li><h2>Experience and Trust</h2><br><p>Built for travel professionals by travel experts with over 120 years of experience helping agencies grow</p></li>
        </ul>
      </div>
      </div>
      <section class="benefits-at-your-service">
        <ul>
          <li style=><i class="custom-icon red-arrow"></i>Request a Free Demo</li>
          <li><i class="custom-icon red-arrow"></i>Download Brochure (PDF)</li>
        </ul>
    </section>
</section>



<section class="feature">
  <div class="row">
    <div class="hide-for-small-only image">

    </div>
    <div class="small-12 columns text">
      <span class="red-icon"><%= image_tag('icons/laptop.png') %></span>
      <h3>Profit Manager</h3>
      <p>Directly control commissions to stay competitive and increase profits. Advanced markup features are completely configurable to manage the right balance of profitability and customer value.</p>
      <ul>
        <li>Debit Memo Management</li>
        <li>Markup Management</li>
        <li>Advanced Markup Management</li>
        <li>Agent Management</li>
      </ul>
      <p><%= link_to '#' do %>
        <i class="custom-icon red-arrow"></i> Learn more about Profit Manager
        <% end %></p>
    </div>
  </div>
</section>
<section class="feature switch-order">
  <div class="row">
    <div class="hide-for-small-only image">

    </div>
    <div class="columns text">
      <span class="red-icon"><%= image_tag('icons/chart.png') %></span>
      <h3>Reporting &amp; Analytics</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud      ercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
      <ul>
        <li>Booking</li>
        <li>Invoices</li>
        <li>+/- 3 day fares</li>
        <li>Statement of accounts</li>
        <li>Agent Performance</li>
        <li>Consolidator Sales</li>
        <li>Sales Summarry</li>
      </ul>
      <p><%= link_to '#' do %>
        <i class="custom-icon red-arrow"></i> Learn more about Reporting and Analytics
        <% end %></p>
    </div>
  </div>
</section>
<section class="other-feature">
  <div class="row">
    <div class="columns">
      <span class="red-icon">
        <%= image_tag('icons/platform.png') %>
      </span>
      <h3>Cross-platform Availability</h3>
      <p>TripPro is available on all major platforms</p>
      <p>
        <%= link_to "Sabre Red", '#' %> •
        <%= link_to "Desktop", '#' %> •
        <%= link_to "Web", '#' %> •
        <%= link_to "TriPro API", '#' %>
      </p>
    </div>
  </div>
</section>

<section class="other-feature">
  <div class="row">
    <div class="columns">
      <span class="red-icon">
        <%=link_to image_tag('icons/24h.png'), '#' %>
        <%= link_to "",'#'%>
      </span>
      <h3>24/7 Support</h3>
      <p>In an industry where customer service is paramount, we deliver 24/7 customer support to solve problems quickly, allowing agents to focus on their customers.</p>

    </div>
  </div>
</section>


<section class="get_started">

  <h3>Start using TripPro today, boost sales within weeks</h3>

  <p class='get-started'><%= link_to 'Get Started', '#', class: 'button red-one radius' %></p>
</section>