<li class="row" data-context>
  <div class="columns small-1">
    <%= f.select_box :id, video %>
    <%= video.id %>
  </div>
  <div class="columns small-4">
    <%= video.file_file_name %>
  </div>
  <div class="columns small-2">
    <%= video.page_name %>
  </div>
  <div class="columns small-2">
    <%= video.order %>
  </div>
  <div class="columns small-3">
    <%= l video.created_at, format: :long %>
    <a href="#" data-context-button><%= fa_icon('ellipsis-h') %></a>
  </div>
  <ul data-context-target>
    <li><%= link_to fa_icon('search fw', text: t('helpers.actions.show')), video_path(video), target: '_blank' %></li>
    <li><%= link_to fa_icon('edit fw', text: t('helpers.actions.edit')), edit_admin_video_path(video, format: :js), data: {remote: true} %></li>
    <li><%= link_to fa_icon('trash-o fw', text: t('helpers.actions.delete')), admin_video_path(video), data: {confirm: t('helpers.actions.confirm'), method: :delete } %></li>
  </ul>
</li>
