<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : default_title %></title>
    <link rel="shortcut icon" href="/favico.png">
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,300,200,500,600,700' rel='stylesheet' type='text/css'>
    <script src="//use.typekit.net/raa1pct.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <div class="small-links wrapper">
        <p>
        <span>Call Us </span>
        <span class="mercury-region" id="layout-content-phone" data-mercury="full"><%= content("layout-content-phone") %></span>
        <span class="hov live-chat-link"><a href="#">Live Chat</a> <%= image_tag('icons/live_chat_ico.png', size: '18x21') %></span>
        </p>
      </div>
      <div class="wrapper hide-for-small-only">
        <h1 class="logo"><%= link_to image_tag('logo.png', size: '163x80'), root_path %></h1>
        <nav class="main-menu">
          <ul>
            <% if current_user && current_user.admin? %>
                 <li><%= link_to "Edit", "/editor" + request.path, class: "edit_merc" %></li>
            <%end%>
          <!--
              --><li><%= nav_link 'Tour', tour_path(format: :html) %></li><!--
              --><li><%= nav_link 'Contact Us', new_contact_path %></li><!--
              --><li><%= nav_link 'Login', '#' %></li><!--
              --><li><%= link_to 'Get started', webinars_path, :class =>"highlight" %></li><!--
            --></ul>
        </nav>
      </div>
        <nav class="top-bar show-for-small-only" data-topbar role="navigation">
            <ul class="title-area">
              <li class="name">
                <h1 class="logo"><%= link_to image_tag('logo.png', size: '163x80'), root_path %></h1>
              </li>
               <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
              <li class="toggle-topbar menu-icon mn"><a href="#"><span>Menu</span></a></li>
            </ul>
             <section class="top-bar-section">
                <!-- Right Nav Section -->
                <ul class="menu_list">
                  <li><%= link_to ' Take the Tour', tour_path %></li>
                  <li><%= link_to 'Get Started', webinars_path %></li>
                  <li><%= link_to 'News', news_index_path %></li>
                  <li><%= link_to 'Terms of Service', "https://www.trippro.com/free_trial.jsp" %></li>
                  <%#= link_to 'Privacy Policy', "#" %>
                  <%#= link_to 'FAQ', faq_path %>
                  <li><%= link_to 'Support', "#" %></li>
                  <li><%= link_to 'Contact Us', new_contact_path %></li>
                </ul>
              </section>
        </nav>
    </header>
    <%= yield %>
    <a href="#" class="scroll-top"></a>
    <footer>
        <div class="small-12 medium-6 links collapse show-for-small-only">
          <div class=" columns small-12 show-for-small-only ">
            <%= link_to 'back to top ^', '#', :class => "right" %>
          </div>
          <div class=" small-12 ">
            <%= link_to 'Take the Tour', tour_path %>
            <%= link_to 'Get Started', webinars_path %>
            <%= link_to 'News', news_index_path %>
          </div>
          <div class=" small-12 ">
            <%= link_to 'Terms of Service', "https://www.trippro.com/free_trial.jsp" %>
            <%#= link_to 'Privacy Policy', '#' %>
            <%#= link_to 'FAQ', faq_path %>
          </div>
          <div class=" small-12 ">
            <%= link_to 'Support', '#' %>
            <%= link_to 'Contact us', new_contact_path %>
          </div>
        </div>      
      <div class="wrapper">
        <div class="small-12 medium-6 links collapse hide-for-small-only">
          <div class="columns small-12 medium-4">
            <%= link_to 'Take the Tour', tour_path %>
            <%= link_to 'Get Started', webinars_path %>
            <%= link_to 'News', news_index_path %>
          </div>
          <div class="columns small-12 medium-4">
            <%= link_to 'Terms of Service', "https://www.trippro.com/free_trial.jsp" %>
            <%#= link_to 'Privacy Policy', '#' %>
            <%#= link_to 'FAQ', faq_path %>
            <%= link_to 'Support', '#' %>
            <%= link_to 'Contact us', new_contact_path %>
          </div>
          <div class="columns small-12 medium-4">
            
          </div>
        </div>
        <div class="social small-12 medium-6 hide-for-small-only">
          <p>
            <p><strong>Follow us:</strong></p>
            <%= link_to fa_icon('twitter'), '#', class: :twitter %>
            <%= link_to fa_icon('linkedin'), '#', class: :linkedin %>
          </p>
          <p class="copy">
            Call Us <%= content("layout-content-phone") %> &copy; 2014 Mondee Inc.
          </p>
        </div>
         <div class="social small-12 medium-6 show-for-small-only">
          <p class="call">Call Us <%= content("layout-content-phone") %></p>
          <p>
            <p><strong>Follow us</strong></p>
            <%= link_to fa_icon('twitter'), '#', class: :twitter %>
            <%= link_to fa_icon('linkedin'), '#', class: :linkedin %>
          </p>
          <p class="copy">
            &copy; 2014 Mondee Inc.
          </p>
        </div>
      </div>
    </footer>
    <%= javascript_include_tag "application" %>
  </body>
</html>
