<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : default_title %></title>
    <link rel="shortcut icon" href="/favico.png">
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,300,200,500,600,700' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <div class="small-links wrapper">
        <p>Call Us +1 866 855 9630 | Download TripPro Sabre App</p>
      </div>
      <div class="wrapper">
        <h1 class="logo"><%= link_to image_tag('logo.png', size: '163x80'), root_path %></h1>
        <nav class="main-menu">
          <ul><!--
              --><li><%= link_to 'Tour', '#' %></li><!--
              --><li><%= link_to 'Contact Us', '#' %></li><!--
              --><li><%= link_to 'Login', '#' %></li><!--
              --><li><%= link_to 'Get started', '#', class: :highlight %></li><!--
            --></ul>
        </nav>
      </div>
    </header>
    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
